<section>
    <article ng-if="hasBlogs" ng-repeat="blog in blogList.item">
        <h2><a ui-sref="master.blog-detail({ slug: blog.slug })">{{ blog.title }}</a></h2>
        <p>
            {{ blog.dateUpdated | date : 'medium' }}
        </p>
    </article>
    <article ng-if="!hasBlogs">
        <p>
            No blogs.
        </p>
    </article>

    <div ng-show="pagerInfo.hasPrevious || pagerInfo.hasNext">
        <button type="button" ng-show="pagerInfo.hasPrevious" ng-click="prevPage()">Prev</button>
        <button type="button" ng-show="pagerInfo.hasNext" ng-click="nextPage()">Next</button>
    </div>
</section>
