

<div class="layout__form">
    <h1 class="spc--bottom--lrg">{{ isNew ? 'Add New' : 'Edit' }} Blog Post</h1>
    <form name="blogPost" novalidate class="form">
        <div class="form__field">
            <label class="form__label" for="fieldTitle">Title</label>
            <input type="text" name="title" id="fieldTitle" ng-model="blog.title" class="input input--text" required />
            <p class="alert alert--warning" ng-show="(blogPost.$submitted || blogPost.title.$touched) && blogPost.title.$error.required">Title is required.</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="fieldBody">Featured image</label>
            <small class="form__desc">Relative paths should start with "/" and absolute paths should start with"http".</small>
            <input type="text" name="featured" id="fieldBody" ng-model="blog.featured" class="input input--text" pattern="^(\/|https?:\/\/).*" />
            <p class="alert alert--warning" ng-show="(blogPost.$submitted || blogPost.featured.$touched) && blogPost.featured.$error.pattern">Url link must be valid url starting with / or http</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="fieldExcerpt">Excerpt</label>
            <textarea name="excerpt" id="fieldExcerpt" ng-model="blog.excerpt" class="input input--textarea"></textarea>
        </div>
        <div class="form__field spc--bottom--med">
            <label class="form__label" for="fieldContent">Content</label>
            <div class="group">
                <div class="editor__type">
                    <div class="editor__header">
                        <small class="editor__explain">Write your post below in markdown format. You can use right side for preview, HTML view or help with markdown syntax.</small>
                    </div>
                    <textarea placeholder="Type your markdown text here.." name="content" id="fieldContent" ng-model="blog.content" class="editor__field"></textarea>
                </div>
                <div class="editor__preview">
                    <div class="editor__header">
                        <button class="btn --light --med rounded" type="button" ng-class="{ 'active': state.conentent.viewMode === 'markdown' }" ng-click="setViewMode('markdown')">Preview</button>
                        <button class="btn --light --med rounded" type="button" ng-class="{ 'active': state.conentent.viewMode === 'html' }" ng-click="setViewMode('html')">Html</button>
                        <button class="btn --light --med rounded" type="button" ng-class="{ 'active': state.conentent.viewMode === 'help' }" ng-click="setViewMode('help')">Help</button>
                    </div>
                    <div class="editor__field styledtext" ng-if="state.conentent.viewMode === 'markdown'" btf-markdown="blog.content">
                    </div>
                    <div class="editor__field" ng-if="state.conentent.viewMode === 'html'">
                        {{ getHtml(blog.content) }}
                    </div>
                    <div class="editor__field" ng-if="state.conentent.viewMode === 'help'" ng-include="'templates/markdown-syntax-highlight.html'">

                    </div>
                </div>
            </div>
        </div>
        <div class="form__field">
            <tags-input class="form__label" -input ng-model="blog.tags" display-property="tag" add-on-comma="true">
                <auto-complete source="loadTags($query)">
                </auto-complete>
            </tags-input>
        </div>
        <div class="form__field">
            <button type="submit" class="btn --primary --med rounded" ng-click="saveBlog()">Save</button>
            <button type="button" class="btn --light --med rounded" ng-click="cancelEdit()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>

    <script type="text/ng-template" id="ngTagsInput/my-tags-input">
        <div class="host" tabindex="-1" ng-click="eventHandlers.host.click()" ti-transclude-append="">
            <div class="tags" ng-class="{focused: hasfocus}">
                <ul class="tag-list">
                    <li class="tag-item" ng-repeat="tag in taglist.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }">
                        <ti-tag-item data="tag"></ti-tag-item>
                    </li>
                </ul>
                <input class="input" autocomplete="off" ng-model="newTag.text" ng-change="eventHandlers.input.change(newTag.text)"
                        ng-keydown="eventHandlers.input.keydown($event)" ng-focus="eventHandlers.input.focus($event)"
                        ng-blur="eventHandlers.input.blur($event)" ng-paste="eventHandlers.input.paste($event)"
                        ng-trim="false" ng-class="{'invalid-tag': newtag.invalid}" ng-disabled="disabled"
                        ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex, spellcheck: options.spellcheck}"
                        ti-autosize="">
            </div>
        </div>
    </script>

    <!--script type="text/ng-template" id="ngTagsInput/auto-complete.html">
        <div class="autocomplete" ng-show="suggestionList.visible">
            <ul class="suggestion-list">
                <li class="suggestion-item" ng-repeat="item in suggestionlist.items track by track(item)" ng-class="{selected: item == suggestionList.selected}"
                    ng-click="addSuggestionByIndex($index)" ng-mouseenter="suggestionList.select($index)" ng-bind-html="highlight(item)"></li>
            </ul>
        </div>
    </script>-->
</div>