<article class="post" ng-hide="isEdit">
    <header class="post__header">
        <a href="javascript:void(0);" ui-sref="master.index" rel="home">Back</a>
        <h2 class="post__title">{{ blog.title }}</h2>
        <img class="post__visual" src="/{{ blog.featured }}">
        <span class="post__header__overlay"></span>
    </header>
    <div class="post__body styled-text">
        <p>{{ blog.dateUpdated | date : 'medium' }}</p>
        <div btf-markdown="blog.content">
        </div>
    </div>
</article>

<div ng-show="isEdit" ng-include="'templates/blog/new-blog-post.html'">

</div>

<div ng-if="$root.user.isAuthenticated">
    <button type="button" class="btn --primary --med rounded" ng-click="editBlog()">Edit</button>
    <button type="button" class="btn --light --med rounded" ng-click="deleteBlog()">Delete</button>
</div>