<div class="articles">
    <article
        class="article article--ingrid"
        ng-if="hasBlogs"
        ng-repeat="blog in blogList.item"
        ng-class=" { 'article--lrg': $first , 'article--sml': !$first } "
    >
        <div class="article__holder">
            <figure class="article__figure">
                <a ui-sref="master.blog-detail({ slug: blog.slug })"><img ng-src="{{ blog.featured }}" alt="Test photo"></a>
            </figure>
            <div class="article__content">
                <header class="article__header">
                    <!-- <a href="#" class="article__cat">European culture</a> -->
                    <h2 class="article__title">
                        <a class="article__title__link" ui-sref="master.blog-detail({ slug: blog.slug })">{{ blog.title }}</a>
                    </h2>
                    <span class="article__date">{{ blog.publishDate | date : 'medium' }}</span>
                </header>
                <div class="article__summary">
                    <p class="article__summary__text">{{ blog.excerpt }}</p>
                </div>
                <div class="article__info">
                    <div class="article__readmore">
                        <button type="button" ui-sref="master.blog-detail({ slug: blog.slug })" class="btn --light --med rounded">Read more</button>
                    </div>
                    <span class="article__readingtime">{{ blog.readingTime.text }}</span>
                </div>
            </div>
        </div>
    </article>
    <article ng-if="!hasBlogs">
        <p>No blog posts added.</p>
    </article>
</div>
<pager pager-data="pagerData" ng-show="pager.hasPrevious || pager.hasNext" class="pager">
    <hr>
    <button type="button" class="btn --light --med rounded" ng-show="pager.hasPrevious" ng-click="prevPage()">Prev</button>
    <button type="button" class="btn --light --med rounded" ng-show="pager.hasNext" ng-click="nextPage()">Next</button>
</pager>