<div>
    <fieldset ng-show="addingNewItem">
        <legend>New item</legend>
        <form name="newMenuItem" ng-submit="addNewItemToMenu()">
            <label>
                Title
                <input type="text" name="title" ng-model="newMenuItem.title" required />
            </label>
            <p ng-show="(newMenuItem.$submitted || newMenuItem.title.$touched) && newMenuItem.title.$error.required">Title is required.</p>

            <label>
                Type
                <select name="type" ng-model="newMenuItem.type" required ng-options="item.value as item.text for item in typeOptionItems"></select>
            </label>

            <label ng-show="newMenuItem.type === 'page'">
                Page
                <select name="pageId" ng-model="newMenuItem.pageId" required ng-options="page.slug as page.title for page in pages"></select>
            </label>

            <label ng-show="newMenuItem.type === 'page'">
                Url
                <input type="text" name="url" ng-model="newMenuItem.url" required ng-options="item.value as item.text for item in typeOptionItems" />
            </label>

            <button type="submit">Add</button>
            <button type="button" ng-click="closeAddNewItem()">Cancel</button>
        </form>
        <!--<div>
            <label>Pages</label>
            <button type="button">Add new</button>
            <ul>
                <li ng-repeat="page in pages">
                    <input type="checkbox" ng-checked="isItemInMenu(page) !== null" ng-click="addPageToMenu(page)" /> {{ page.title }}
                </li>
            </ul>

        </div>
        <div>
            <label>Containers</label>
            <button type="button" ng-click="toggleAddContainer()">{{ addingNewContainer ? 'Cancel' : 'Add new' }}</button>
            <div ng-form="addContainerForm" ng-if="addingNewContainer">
                <label>Title</label>
                <input type="text" name="title" ng-model="newContainer.title" />
                <button type="button" ng-click="addContainer()">Save</button>
            </div>
            <ul>
                <li ng-repeat="container in menu.containers">
                    <input type="checkbox" ng-checked="isItemInMenu(container) !== null" ng-click="addContainerToMenu(container)" /> <span contenteditable ng-model="container.title"></span> <button type="button" ng-click="removeContainer(container)">X</button>
                </li>
            </ul>
        </div>
        <div>
            <label>Links</label>
            <button type="button" ng-click="toggleAddLink()">{{ addingNewLink ? 'Cancel' : 'Add new' }}</button>
            <div ng-form="addContainerForm" ng-if="addingNewLink">
                <label>Title</label>
                <input type="text" name="title" ng-model="newLink.title" />
                <label>Link</label>
                <input type="text" name="url" ng-model="newLink.url" />
                <button type="button" ng-click="addLink()">Save</button>
            </div>
            <ul>
                <li ng-repeat="link in menu.linkList">
                    <input type="checkbox" ng-checked="isItemInMenu(link) !== null" ng-click="addLinkToMenu(link)" /> <span contenteditable ng-model="link.title"></span> <button type="button" ng-click="removeLink(link)">X</button>
                </li>
            </ul>
        </div>-->
    </fieldset>

    <div ng-hide="addingNewItem">
        <form name="menuForm" novalidate ng-submit="save()">
            <label>
                Name
                <input type="text" name="name" ng-model="menu.name" required />
            </label>
            <p ng-show="(menuForm.$submitted || menuForm.title.$touched) && menuForm.name.$error.required">Name is required.</p>
        </form>

        <button type="button" ng-click="openAddNewItem();">+</button>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle>
                <button type="button" ng-if="item.items && item.items.length > 0" nodrag ng-click="toggleCollapse(this)">{{ collapsed ? 'v' : '^' }}</button>
                {{item.title}}
                <button nodrag ng-click="removeItemFromMenu(this)">x</span></button>
                <button nodrag ng-if="item.items" ng-click="newSubItem(this)">+</button>
            </div>
            <ol ui-tree-nodes ng-model="item.items" ng-hide="collapsed">
                <li ng-repeat="item in item.items" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
        <div ui-tree callbacks="menuTreeOptions">
            <ol ui-tree-nodes ng-model="menu.items">
                <li ng-repeat="item in menu.items" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>

        <button type="submit">Save</button>
    </div>
    <div ng-show="error">
        {{ error }}
    </div>

</div>
