<form name="menuForm" novalidate ng-submit="save()">
    <label>Title</label>
    <input type="text" name="name" ng-model="menu.name" required />
    <p ng-show="(menuForm.$submitted || menuForm.title.$touched) && menuForm.name.$error.required">Name is required.</p>
    
    <fieldset>
        <legend>Items</legend>
        <div>
            <label>Pages</label>
            <button type="button">Add new</button>
            <ul>
                <li ng-repeat="page in pages">
                    <input type="checkbox" ng-checked="isItemInMenu(page) !== null" ng-click="addPageToMenu(page)" /> {{ page.title }}
                </li>
            </ul>
            
        </div>
        <div>
            <label>Containers</label>
            <button type="button" ng-click="toggleAddContainer()">{{ addingNewContainer ? 'Cancel' : 'Add new' }}</button>
            <div ng-form="addContainerForm" ng-if="addingNewContainer">
                <label>Title</label>
                <input type="text" name="title" ng-model="newContainer.title" />
                <button type="button" ng-click="addContainer()">Save</button>
            </div>
            <ul>
                <li ng-repeat="container in menu.containers">
                    <input type="checkbox" ng-checked="isItemInMenu(container) !== null" ng-click="addContainerToMenu(container)" /> <span contenteditable ng-model="container.title"></span> <button type="button" ng-click="removeContainer(container)">X</button>
                </li>
            </ul>
        </div>
        <div>
            <label>Links</label>
            <button type="button" ng-click="toggleAddLink()">{{ addingNewLink ? 'Cancel' : 'Add new' }}</button>
            <div ng-form="addContainerForm" ng-if="addingNewLink">
                <label>Title</label>
                <input type="text" name="title" ng-model="newLink.title" />
                <label>Link</label>
                <input type="text" name="url" ng-model="newLink.url" />
                <button type="button" ng-click="addLink()">Save</button>
            </div>
            <ul>
                <li ng-repeat="link in menu.linkList">
                    <input type="checkbox" ng-checked="isItemInMenu(link) !== null" ng-click="addLinkToMenu(link)" /> <span contenteditable ng-model="link.title"></span> <button type="button" ng-click="removeLink(link)">X</button>
                </li>
            </ul>
        </div>
    </fieldset>

    <!--<div ui-tree id="menu-tree">
        <ol ui-tree-nodes ng-model="menu.items">
            <li ng-repeat="item in menu.items" ui-tree-node>
                <div ui-tree-handle>
                    {{item.title}}
                </div>
                <ol ui-tree-nodes ng-model="item.items">
                    <li ng-repeat="subItem in item.items" ui-tree-node>
                        <div ui-tree-handle>
                            {{subItem.title}}
                        </div>
                        <ol ui-tree-nodes ng-model="subItem.items">
                            <li ng-repeat="lastItem in subItem.items" ui-tree-node>
                                <div ui-tree-handle>
                                    {{lastItem.title}}
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>-->

    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="item.items && item.items.length > 0" nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{item.title}}
            <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.items" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <div ui-tree id="menu-tree">
        <ol ui-tree-nodes ng-model="menu.items">
            <li ng-repeat="item in menu.items" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
    </div>


    <button type="submit">Save</button>

    <div ng-show="error">
        {{ error }}
    </div>
</form>
