<div>
    <fieldset ng-show="itemFormVisible">
        <legend>{{ currentMenuItem.isNew ? 'New item' : 'Edit item' }}</legend>
        <form name="menuItemForm" novalidate ng-submit="saveItem()">
            <label>
                Title
                <input type="text" name="title" ng-model="currentMenuItem.item.title" required />
            </label>
            <p ng-show="(menuItemForm.$submitted || menuItemForm.title.$touched) && menuItemForm.title.$error.required">Title is required.</p>

            <label>
                Type
                <select name="type" ng-model="currentMenuItem.item.type" ng-disabled="!currentMenuItem.isNew" required ng-options="item.value as item.text for item in typeOptionItems"></select>
            </label>

            <label ng-show="currentMenuItem.isPage">
                Page
                <select name="pageId" ng-model="currentMenuItem.item.pageId" ng-required="currentMenuItem.isPage" ng-options="page.slug as page.title for page in pages"></select>
            </label>
            <p ng-show="(menuItemForm.$submitted || menuItemForm.pageId.$touched) && menuItemForm.pageId.$error.required">Please select page.</p>

            <label ng-show="currentMenuItem.isLink">
                Url
                <input type="text" name="url" ng-model="currentMenuItem.item.url" ng-required="currentMenuItem.isLink" />
            </label>
            <p ng-show="(menuItemForm.$submitted || menuItemForm.url.$touched) && menuItemForm.url.$error.required">Url is required.</p>

            <button type="submit">{{ currentMenuItem.isNew ? 'Add' : 'Save' }}</button>
            <button type="button" ng-click="closeItemForm()">Cancel</button>
        </form>
    </fieldset>

    <div ng-hide="itemFormVisible">
        <form name="menuForm" novalidate >
            <label>
                Name
                <input type="text" name="name" ng-model="menu.name" required />
            </label>
            <p ng-show="(menuForm.$submitted || menuForm.title.$touched) && menuForm.name.$error.required">Name is required.</p>
        </form>

        <button type="button" ng-click="openItemForm(menu.items);">+</button>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle>
                <button type="button" ng-if="item.items && item.items.length > 0" nodrag ng-click="toggleCollapse(this)">{{ collapsed ? 'v' : '^' }}</button>
                {{item.title}}
                <button nodrag ng-click="openItemForm(item)">Edit</button>
                <button nodrag ng-click="removeItemFromMenu(this)">x</span></button>
                <button nodrag ng-if="item.items" ng-click="openItemForm(item.items)">+</button>
            </div>
            <ol ui-tree-nodes ng-model="item.items" ng-hide="collapsed">
                <li ng-repeat="item in item.items" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
        <div ui-tree callbacks="menuTreeOptions">
            <ol ui-tree-nodes ng-model="menu.items">
                <li ng-repeat="item in menu.items" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>

        <button type="button" ng-click="save()">Save</button>
    </div>
    <div ng-show="error">
        {{ error }}
    </div>

</div>
