<div class="navbar">
    <a ui-sref="master.main.index">
        <img src="./assets/img/logo.svg" alt="" class="logo">
    </a>
    <nav class="push">
        <div ng-class="{'hamburger hamburger--transformed': isActive, 'hamburger':!isActive}" ng-init="isActive = false" ng-click="isActive = !isActive">
            <span ng-class="{'hamburger__middle hamburger__middle--transformed': isActive, 'hamburger__middle':!isActive}" ng-init="isActive = false"></span>
        </div>
        <ul class="navbar__nav" ng-class="{'block':isActive,'':!isActive}" ng-init="isActive = false">
            <li class="navbar__link__holder" ng-show="!$root.user.isAuthenticated"><a class="navbar__link" ui-sref="login">Login</a></li>
            <li class="navbar__link__holder" ng-show="!$root.user.isAuthenticated"><a class="navbar__link" ui-sref="register">register</a></li>
            <li class="navbar__link__holder" ng-show="$root.user.isAuthenticated">
                <baasic-logout on-logout="setEmptyUser()">
                    <a href="#" class="navbar__link" ng-click="logout()">Logout</a>
                </baasic-logout>
            </li>
            <li class="navbar__link__holder" ng-show="$root.user.isAuthenticated"><a class="navbar__link" ui-sref="master.new-blog-post">+New Post</a></li>
        </ul>
    </nav>
    <div ng-class="{'search__wrapper':!isActive, 'search__wrapper block':isActive}" ng-init="isActive = false">
        <form ng-controller="SearchCtrl" ng-submit="searchBlog()" novalidate >
            <input type="search" placeholder="search" class="search__field" ng-model="searchFor"/>
            <button type="submit" class="search__icon"></button>
        </form>
    </div>
</div>