/*------------------------------------*\
    # components.pager
\*------------------------------------*/

.pager {
    overflow: hidden;
    display: block;
    padding: 0 2rem 1rem 2rem;
}

@media all and (--from-medium) {
    .pager {
        padding: 0 3rem 1rem 3rem;
    }
}