/*------------------------------------*\
    # components.search
\*------------------------------------*/
.search {
    position: relative;
}
@media all and (--from-large) {
    .search {
        margin-bottom: 1rem;
    }
}
.search__result {
    margin-bottom: 4rem;
}
.search__date {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}