/*------------------------------------*\
    # components.navigation
\*------------------------------------*/

.nav {
    text-transform: uppercase;
    display: inline-block;
}
.nav__item {
    display: inline-block;
    padding: .5rem;
}
.nav__item--link {
    color: var(--color-darkgrey);
    position: relative;
}
.nav__item--link:hover, .nav__item--link:active, .nav__item--link:visited, .nav__item--link:link {
    color: var(--color-darkgrey);
}
.nav__item--link:hover:before, .nav__item--link:hover:after, .nav__item--link:active:before, .nav__item--link:active:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -25%;
    height: 33px;
    width: 2px;
    background-color: var(--color-primary);
}
.nav__item--link:hover:before {
    transform: rotate(45deg);
}
.nav__item--link:hover:after {
    transform: rotate(-45deg);
}

