/*------------------------------------*\
    # util.group
\*------------------------------------*/

.group {
    overflow: hidden;
}

.group--old:before,
.group--old:after {
  content: "";
  display: table;
}
.group--old:after {
  clear: both;
}
.group--old {
  zoom: 1; /* ie 6/7 */
}