/*------------------------------------*\
    # components.box
\*------------------------------------*/

.box {
    padding: 1rem;
    background-color: white;
}
.box--center {
    text-align: center;
}