/*------------------------------------*\
    # components.date
\*------------------------------------*/

.meta__label {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.meta__label--lrg {
    font-size: 3rem;
    margin-bottom: 1rem;
}