/*------------------------------------*\
    # components.header
\*------------------------------------*/

.header {
    padding: 1.5rem;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    color: white;
}
.header__identity {
    display: inline-block;
    color: color(var(--color-primary) lightness(60%));
    padding: 1rem 1rem 1rem 2rem;
    border-left: 3px solid color(var(--color-primary) lightness(60%));
 }
