/*------------------------------------*\
    # components.header
\*------------------------------------*/

.header {
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    z-index: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__identity {
    font-size: var(--type-base);
    display: inline-block;
    padding: .25rem 1rem .25rem 1rem;
    border-left: 3px solid var(--color-primary);
 }
@media all and (--from-small) {
    .header__identity {
        font-size: var(--type-large);
        padding: .5rem 1rem .5rem 1.5rem;
    }
}
@media all and (--to-mediumsmall) {
    .header--main {
        opacity: 0;
        visibility: none;
        transition: all .5s;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 5rem;
        bottom: 0;
        background: var(--color-bodybg);
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }
    .header--main.nShow {
        
        opacity: 1;
        visibility: visible;
        transition: all .5s;
    }
}
@media all and (--from-medium) {
    .header--aside {
        float: left;
    }
    .header--main {
        float: right;
    }
}
 
@media all and (--to-mediumsmall) {
    .header--membership {
        width: 100%;
    }
}

