/*------------------------------------*\
    # components.article
\*------------------------------------*/

.article {
    position: relative;
}
.article--lrg {
    background-color: black;
    min-height: 70vh;
}
.article--sml {
}
.article__item {
}
.article--lrg .article__holder {

    background-size: cover; 
    background-position: center center;
    background-color: white;
    background-blend-mode: initial;
    color: white;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.article--lrg:hover .article__holder {
    background-blend-mode: luminosity;
}
.article--lrg .article__title a {
    color: color(var(--color-primary) lightness(60%));
}
.article__aside {
    float: left;
    padding-right: 2rem;
    width: 25%;
    text-align: right;
}
.article__main {
    float: right;
    padding-left: 2rem;
    width: 75%;
    border-left: 2px solid white;
}
.article--lrg .article__content {
    margin-top: 12.5%;
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.article--lrg .article__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
    z-index: 1;
    transition: all .5s;
}
.article--lrg:hover .article__overlay {

    background-color: rgba(0,0,0,.65);
    transition: all .5s;
}

