/*------------------------------------*\
    # components.overlay
\*------------------------------------*/
.overlay__hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/assets/img/overlay-bg.png);
    background-color: rgba(0,0,0,0.5);
    background-repeat: repeat;
    z-index: -1;
    transition: all .5s;
}