/*------------------------------------*\
    # modules.grid
\*------------------------------------*/

.grid {
    overflow: hidden;
}
.col {
    width: 100%;
}
.col--half {
}
.col--quad {
}
.col--third {
}
.col--center {
    margin-left: auto;
    margin-right: auto;
}
@media all and (--from-medium) and (--to-large) {
    .col {
        float: left;
        padding: 0.5rem;
    }
    .col--half {
        width: 50%;
    }
    .col--quad {
        width: 33.33%;
    }
    .col--third {
        width: 50%;
    }
    .col--center {
        float: none;
    }
}
@media all and (--from-large) {
    .col {
    }
    .col--half {
        width: 50%;
    }
    .col--quad {
        width: 25%;
    }
    .col--third {
        width: 33.33%;
    }
    .col--center {
        float: none;
    }
}