/*------------------------------------*\
    # modules.modal
\*------------------------------------*/

.modal {
    display: none;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

/* Display the modal when targeted */
.modal.nShow{
    display: block;
    position: fixed;
}

/* The modal box */
.modal--dialog {
    width: 50%;
    margin: 0 auto;
    display: table;
    height: 100%;
}
.modal--content {
    display: table-cell;
    vertical-align: middle;
    position: relative;

}
.modal .btn--icon {
    color: white;
}
