/*------------------------------------*\
    # modules.alert
\*------------------------------------*/

.alert {
    font-size: var(--type-small);
    color: white;
    display: block; 
    padding: 1rem;
    margin: 1rem 0;
}
.alert--warning {
    background: var(--color-warning);
}
.alert--success {
    background: var(--color-success);
}
.alert--note {
    background: var(--color-note);
}