/*------------------------------------*\
    # tools.icons
\*------------------------------------*/

@font-face {
    font-family: 'icomoon';
    src:url('assets/fonts/icomoon.eot?joh4m6');
    src:url('assets/fonts/icomoon.eot?#iefixjoh4m6') format('embedded-opentype'),
        url('assets/fonts/icomoon.ttf?joh4m6') format('truetype'),
        url('assets/fonts/icomoon.woff?joh4m6') format('woff'),
        url('assets/fonts/icomoon.svg?joh4m6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon--"]:before, [class*=" icon--"]:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon--write:before {
    content: "\e013";
}
.icon--search:before {
    content: "\e2ca";
}
.icon--logout:before {
    content: "\e2c0";
}
.icon--login:before {
    content: "\e28d";
}
.icon--tagcloud:before {
    content: "\e007";
}
.icon--time:before {
    content: "\e08e";
}
.icon--ticket:before {
    content: "\e1eb";
}
.icon--calendar:before {
    content: "\e2f1";
}
.icon--home:before {
    content: "\e29e";
}
.icon--payment:before {
    content: "\e2b5";
}
.icon--hamburger:before {
    content: "\e15c";
}