/*------------------------------------*\
    # util.spacers
\*------------------------------------*/

.spc--bottom--sml {
    margin-bottom: 0.75rem;
}
.spc--bottom--med {
    margin-bottom: 1.5rem;
}
.spc--bottom--lrg {
    margin-bottom: 1rem;
}
.spc--bottom--xlrg {
    margin-bottom: 3rem;
}
.spc--top--sml {
    margin-top: 0.75rem;
}
.spc--top--med {
    margin-top: 1.5rem;
}
.spc--top--lrg {
    margin-top: 1.5rem;
}
.spc--top--xlrg {
    margin-top: 3rem;
}
.spc--right--lrg {
    margin-right: 3rem;
}
.spc--left--lrg {
    margin-right: 3rem;
}
.spc--inside--tb--sml {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.spc--inside--tb--med {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media all and (--from-medium) {
    .spc--bottom--sml {
        margin-bottom: 0.75rem;
    }
    .spc--bottom--med {
        margin-bottom: 1.5rem;
    }
    .spc--bottom--lrg {
        margin-bottom: 2rem;
    }
    .spc--bottom--xlrg {
        margin-bottom: 6rem;
    }
    .spc--top--sml {
        margin-top: 0.75rem;
    }
    .spc--top--med {
        margin-top: 1.5rem;
    }
    .spc--top--lrg {
        margin-top: 2rem;
    }
    .spc--top--xlrg {
        margin-top: 6rem;
    }
    .spc--right--lrg {
        margin-right: 2rem;
    }
    .spc--right--xlrg {
        margin-right: 3rem;
    }
    .spc--inside--tb--sml {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .spc--inside--tb--med {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}