/*------------------------------------*\
    # util.floats
\*------------------------------------*/

.push {
    float: right;
}
@media all and (--from-large) {
    .push--on-med {
        float: right;
    }
}
.pull {
    float: left;
}
@media all and (--from-large) {
    .pull--on-med {
        float: left;
    }
}