node_modules/
bower_components/
.tmp/
/dist
*.sln
*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.cache


**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
**/bin
**/obj

Code



deploy-all-themes-dist.cmd
