<div class="header header--login">
    <div class="header header--gradient">
        <blog-menu></blog-menu>
        <h2 class="header__title">Password Change</h2>
    </div>
</div>
<div class="layout__form">
    <form name="passwordChangeForm" novalidate ng-submit="vm.changePassword()">
        <div class="clearfix">
            <div class="form__field--half">
                <input class="input input--text" type="password" id="password" name="password" ng-model="vm.resetData.newPassword" required placeholder="" autocomplete="off" />
                <span class="input--highlight"></span>
                <span class="input--bar"></span>
                <label class="form__label position--abs" for="password">Password</label>
                <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
                    <p class="alert alert--warning" ng-show="passwordChangeForm.password.$error.required">Password is required.</p>
                </div>
            </div>
            <div class="form__field--half">
                <input class="input input--text" type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.resetData.confirmPassword" required placeholder="" autocomplete="off" />
                <span class="input--highlight"></span>
                <span class="input--bar"></span>
                <label class="form__label position--abs" for="confirmPassword">Confirm Password</label>
                <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched">
                    <p class="alert alert--warning" ng-show="passwordChangeForm.confirmPassword.$error.required">Confirm Password is required.</p>
                    <p class="alert alert--warning" ng-show="passwordChangeForm.confirmPassword.$viewValue != '' && (passwordChangeForm.password.$viewValue != passwordChangeForm.confirmPassword.$viewValue)">Password and Confirm Password do not match.</p>
                </div>
            </div>
        </div>
        <div class="form__field spc--top--med">
            <button class="btn btn--primary btn--med btn--push" type="submit">Change</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>