<div class="layout__form">
    <h1 class="spc--bottom--lrg">Password Recovery</h1>
    <form name="passwordRecoveryForm" novalidate ng-submit="vm.recoverPassword()">
        <div class="group">
            <div class="form__field--half">
                <label class="form__label" for="userName">Username</label>
                <input class="input input--text" type="text" id="userName" name="userName" ng-model="vm.recoveryData.userName" required placeholder="Enter your username" />
                <div ng-show="passwordRecoveryForm.$submitted || passwordRecoveryForm.userName.$touched">
                    <p class="alert alert--warning" ng-show="passwordRecoveryForm.userName.$error.required">Username is required.</p>
                </div>
            </div>
        </div>
        <div baasic-recaptcha></div>
        <div class="form__field spc--top--med">
            <button class="btn btn--secondary btn--med" type="submit">Send</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>