<div class="header header--login">
    <div class="header header--gradient">
        <blog-menu></blog-menu>
        <h2 class="header__title">Password Recovery</h2>
    </div>
</div>
<div class="layout__form">
    <form name="passwordRecoveryForm" novalidate ng-submit="vm.recoverPassword()">
        <div class="clearfix">
            <div class="form__field--half">
                <input class="input input--text" type="text" id="userName" name="userName" ng-model="vm.recoveryData.userName" required placeholder="" />
                <span class="input--highlight"></span>
                <span class="input--bar"></span>
                <label class="form__label position--abs" for="userName">Username</label>
                <div ng-show="passwordRecoveryForm.$submitted || passwordRecoveryForm.userName.$touched">
                    <p class="alert alert--warning" ng-show="passwordRecoveryForm.userName.$error.required">Username is required.</p>
                </div>
            </div>
        </div>
        <div baasic-recaptcha></div>
        <div class="form__field spc--top--med">
            <button class="btn btn--primary btn--med btn--push" type="submit">Send</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>