<div class="layout__form">
    <h1 class="spc--bottom--lrg">Password Change</h1>
    <form name="passwordChangeForm" novalidate ng-submit="vm.changePassword()">
        <div class="group">
            <div class="form__field--half">
                <label class="form__label" for="password">Password</label>
                <input class="input input--text" type="password" id="password" name="password" ng-model="vm.resetData.newPassword" required placeholder="Password" autocomplete="off" />
                <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
                    <p class="alert alert--warning" ng-show="passwordChangeForm.password.$error.required">Password is required.</p>
                </div>
            </div>
            <div class="form__field--half">
                <label class="form__label" for="confirmPassword">Confirm Password</label>
                <input class="input input--text" type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.resetData.confirmPassword" required placeholder="Confirm Password" autocomplete="off" />
                <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched">
                    <p class="alert alert--warning" ng-show="passwordChangeForm.confirmPassword.$error.required">Confirm Password is required.</p>
                    <p class="alert alert--warning" ng-show="passwordChangeForm.confirmPassword.$viewValue != '' && (passwordChangeForm.password.$viewValue != passwordChangeForm.confirmPassword.$viewValue)">Password and Confirm Password do not match.</p>
                </div>
            </div>
        </div>
        <div class="form__field spc--top--med">
            <button class="btn btn--secondary btn--med" type="submit">Change</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>