<div class="demo-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" ui-sref="master.main.index" >
        <i class="material-icons">arrow_back</i>
    </a>
</div>
<div class="demo-login mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600 mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp center">
            <form name="passwordChangeForm" novalidate ng-submit="vm.changePassword()" class="mdl-cell mdl-cell--12-col">
                <h4 class="demo-form-title">Password Change</h4>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
                    <input class="mdl-textfield__input" type="password" id="password" name="password" ng-model="vm.resetData.newPassword" class="mdl-cell mdl-cell--12-col" required/>
                    <label class="mdl-textfield__label" for="password" ng-class="{'has-data':password.length>0}">Enter new password</label>
                    <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
                        <span ng-show="passwordChangeForm.password.$error.required && !passwordChangeForm.password.length" class="mdl-textfield__error">New Password is required.</span>
                    </div>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
                    <input class="mdl-textfield__input" type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.resetData.confirmPassword" class="mdl-cell mdl-cell--12-col" required />
                    <label class="mdl-textfield__label" for="confirmPassword" ng-class="{'has-data':confirmPassword.length>0}">Confirm Your New Password</label>
                    <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched">
                        <span class="mdl-textfield__error" ng-show="passwordChangeForm.confirmPassword.$error.required">Confirm Password is required.</span>
                        <span class="mdl-textfield__error" ng-show="passwordChangeForm.confirmPassword.$viewValue != '' && (passwordChangeForm.password.$viewValue != passwordChangeForm.confirmPassword.$viewValue)">Password and Confirm Password do not match.</span>
                    </div>
                </div>
                <div>
                    <button type="submit" id="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-js-ripple-effect">Change Password</button>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <span ng-if="vm.message">{{ vm.message }}</span>
                </div>
            </form>
        </div>
    </div>
</div>