
<h3>Head­ings</h3>
<p>You can use up to up to six lev­els by writ­ing # be­fore a head­ing; the num­ber of hash­tags de­fines the hi­er­ar­chy of the head­ing. Don’t for­get to add a space after the #:</p>
<pre><code># First level heading
## Second level heading
### Third level heading</code></pre>
<h3>Em­pha­sis and Im­por­tance</h3>
<p>Em­pha­sis (“ital­ics”) and im­por­tant (“bold”) are writ­ten by putting * or _ around the text you want to see in a dif­fer­ent for­mat. </p>
<ul>
<li>Em­pha­sis: <code>*example*</code> or <code>_example_</code> (<code>⌘+I</code>)</li>
<li>Im­por­tance: <code>**example**</code> or <code>__example__</code> (<code>⌘+B</code>)</li>
<li>Em­pha­sis + Im­por­tance <code>***example***</code> or <code>___example___</code></li>
</ul>
<h3>Num­bered lists</h3>
<p>Type <code>1.</code> then a space. Any num­ber (fol­lowed by a full stop and space) can be used and the list items will be or­dered from 1 when ex­ported.</p>
<pre><code>1. Ordered list item
2. Ordered list item
3. Ordered list item</code></pre>
<h3>Bul­leted lists</h3>
<p>Type <code>*</code>, <code>-</code> or <code>+</code> then a space. Cre­ate a bul­leted list by using an as­ter­isk (*), hy­phen (-), or plus sign (+), fol­lowed by a space.</p>
<pre><code>* Bulleted list item
* Bulleted list item
* Bulleted list item</code></pre>
<h3>Nest­ing lists</h3>
<p>You can also nest lists sev­eral lev­els deep, and com­bine them:</p>
<pre><code>* First level
** Second level

1. First level
1.1. Second level

* First level unordered list item
* 1. Second level ordered list item</code></pre>
<p>Using <em>tab in­dents for nest­ing</em> is also pos­si­ble when using a phys­i­cal key­board, but cur­rently there is no Tab key in the iOS on-screen key­board, and Auto Mark­down is op­ti­mized for non-tab nested lists.</p>
<pre><code>* First level
    * Second level

1. First level
    1. Second level</code></pre>
<h3>Block­quotes</h3>
<p>Type <code>&gt;</code> plus a space (just like email):</p>
<pre><code>&gt; A quoted paragraph
&gt;&gt; A quoted paragraph inside a quotation</code></pre>
<h2 id="advanced"><span class="num">1.4.2</span> Ad­vanced</h2>
<h3>Links</h3>
<p>Cre­ate a link by sur­round­ing the link text in square brack­ets, fol­lowed im­me­di­ately by the URL in paren­the­ses:</p>
<pre><code>[text to link](http://example.com/)</code></pre>
<p>You can also use ref­er­ence links. Add the ref­er­ence in square brack­ets after the text to link. Then, on a line by it­self add the ref­er­ence with a colon, space, and the URL:</p>
<pre><code>[text to link][ref]
…
[ref]: http://example.com/</code></pre>
<h3>Im­ages</h3>
<p>Cur­rently only web-ac­ces­si­ble image URLs are sup­ported. On ex­port to RTF or .docx, cur­rently the image’s alt text is added, but the image is not em­bed­ded. You can add im­ages via the fol­low­ing syn­tax:</p>
<pre><code>&lt;figure&gt;&lt;img src="http://example.com/image.jpg" alt="image"&gt;&lt;/figure&gt;    </code></pre>
<h3>Code</h3>
<p>You can mark up code in-line using back­ticks (`code`), or add a code block by adding at least four spaces to the start of a line:</p>
<pre><code>    This is a code block</code></pre>
<p>In iA Writer, it’s also pos­si­ble to start a code block with a tab, as long as the text doesn’t start with list, header or block­quote syn­tax char­ac­ters (<code>1.</code>, <code>*</code>, <code>-</code>, <code>+</code>, <code>#</code>, <code>&gt;</code>).</p>
<p>In iA Writer Pro, you can use Fenced code blocks, which begin and end with triple back­ticks, and don’t need in­dent­ing. <em>Note that in­line for­mat­ting (like <code>_underscores_</code>) is ig­nored in code.</em></p>
<pre><code>```
This is a fenced code block
```</code></pre>
<h3>Foot­notes</h3>
<p>Add a foot­note in square brack­ets pre­ceded by a caret. Then add the foot­note con­tent like a ref­er­ence link, for ex­am­ple:</p>
<pre><code>Some text with a footnote[^1].
…
[^1]: The linked footnote appears at the end of the document.</code></pre>
<p>You can also add an in­line foot­note in the fol­low­ing man­ner:</p>
<pre><code>Some text with a footnote[^This is the footnote itself.].</code></pre>
<h3>Ta­bles</h3>
<p>To make a table, use ver­ti­cal bar char­ac­ters to de­note cells. Start with col­umn head­ers, sep­a­rate with a row of cells with hy­phens, then add fur­ther rows of cells. For ex­am­ple:</p>
<pre><code>|Header |Column 1 | Column 2 | Column 3  | 
|:--- |:---- |:----:| ----:|
|1. Row| is | is | is  |
|2. Row| left | nicely | right  |
|3. Row| aligned | centered | aligned  |  </code></pre>
<p>Let’s be real. This is a mess. Mark­down ta­bles look more rea­son­able than HTML-Ta­bles, but they are the weak point of Mark­down. That being said, they still trans­late nicely when ren­dered:</p>
<table>
<thead>
<tr>
<th align="left">Header</th>
<th align="left">Col­umn 1</th>
<th align="center">Col­umn 2</th>
<th align="right">Col­umn 3</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">1. Row</td>
<td align="left">is</td>
<td align="center">is</td>
<td align="right">is</td>
</tr>
<tr>
<td align="left">2. Row</td>
<td align="left">left</td>
<td align="center">nicely</td>
<td align="right">right</td>
</tr>
<tr>
<td align="left">3. Row</td>
<td align="left">aligned</td>
<td align="center">cen­tered</td>
<td align="right">aligned</td>
</tr>
</tbody>
</table>
<p>There is a trick though you can use when writ­ing Mark­down ta­bles with a mono­spaced font. You can feign the cor­rect col­umn width by adding space char­ac­ters to align the table:</p>
<img src="https://ia.net/content/writer/support/screenshots/cleaner_markdown_table.png" srcset="https://ia.net/content/writer/support/screenshots/cleaner_markdown_table.png 1x" class="screenshot ">
<h3>Sep­a­rat­ing para­graphs</h3>
<p>A line start­ing with a tab in­di­cates a block of code. Be­cause of this it is cur­rently not pos­si­ble to use a re­turn-plus-tab to in­di­cate a new para­graph in Writer. In­stead, please use one or two re­turns to sep­a­rate para­graphs.</p>
<h3>Hor­i­zon­tal rules</h3>
<p>You can add a the­matic break which will be rep­re­sented by a di­vid­ing line (<code>&lt;hr&gt;</code>) when ex­ported to HTML. To do so, add three or more as­ter­isks (<code>*</code>), hy­phens (<code>-</code>), or un­der­scores (<code>_</code>) on a line by them­selves, op­tion­ally sep­a­rated with spaces. For ex­am­ple:</p>
<pre><code>* * *</code></pre>
<p>or</p>
<pre><code>-------------</code></pre>
<h3>“Es­cap­ing” for­mat­ting char­ac­ters</h3>
<p>If you want to type a for­mat­ting char­ac­ter and have Writer treat it as text not for­mat­ting, type a back­slash first <code>\</code>. This means <code>\*</code> gives <code>*</code>, <code>\_</code> gives <code>_</code> etc. Es­cap­ing isn’t needed in code blocks.</p>
