/*------------------------------------*\
    # components.message
\*------------------------------------*/

.message {
	position: relative;
	background-color: #00c2e8;
	padding: 0rem .75rem 0rem 2rem;
	display: block;
	width: 100%;
	transition: .3s all cubic-bezier(0.46, 0.03, 0.06, 1);
	position: fixed;
	bottom: 0;
	z-index: 9999;
	transform: translateY(4px);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}
.message:hover {
	box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
	transform: translateY(0px);
}
.message__title {
	font-size: var(--type-tiny);
	font-weight: var(--type-light);
	line-height: var(--base-line-height);
	padding: 1rem 0 4rem 0;
	text-transform: uppercase;
	letter-spacing: .15rem;
	color: white;
	width: 100%;
}
@media all and (--from-mediumsmall) {
	.message__title {
		line-height: calc(var(--base-line-height)*2);
		padding: 1rem 0 .75rem 5rem;
		width: 100%;
	}
}
.message__icon--primary {
	background-image: url(/assets/img/baasic-logo.svg);
    width: 70px;
    height: 24px;
    text-indent: -999999px;
    background-repeat: no-repeat;
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}
@media all and (--from-mediumsmall) {
	.message__icon--primary {
	    left: 1rem;
	    bottom: 1.65rem;
	}
}
.message__icon--secondary {
	background-image: url(/assets/img/close.svg);
    width: 24px;
    height: 24px;
    text-indent: -999999px;
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
}
@media all and (min-width: 430px) {
	.message__icon--secondary {
	    bottom: 1.5rem;
	}
}
.message.close {
	transform: translateY(8rem);
}
@media all and (--from-mediumsmall) {
	.message.close {
		transform: translateY(5rem);
	}
}