/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {
    display: flex;
    flex-wrap: wrap;
}
.article {
    perspective: 1000;
}

.article--ingrid {
    display: flex;
}
.article--sml {
    width: 100%;
    margin-bottom: 2rem;
}
.article__holder {
    background: #FFF;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19), 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.article__holder:hover {
    transition-delay: 0.15s;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.23), 3px 8px 20px 0 rgba(0, 0, 0, 0.18), -3px 8px 20px 0 rgba(0, 0, 0, 0.18);
    transition: all 0.3s cubic-bezier(0.84, 0.09, 0.23, 0.96);
    transform: translateY(-2px);
}
.article__figure {
}
.article__figure__holder {
    overflow: hidden;
    height: 240px;
    width: 100%;
}
.article__title {
    margin-bottom: 0.75rem;
}
.search__result .article__title {
    text-align: left;
}
.article__title__link {
    display: block;
    font-family: var(--ff-sans);
    line-height: calc(var(--base-line-height)*1.75);
    color: var(--color-primary);
    font-size: var(--type-xlarge);
    font-weight: var(--type-regular);
}
.article--sml .article__title__link {
    display: block;
    font-family: var(--ff-sans);
    color: var(--color-secondary);
    font-size: var(--type-large);
    font-weight: var(--type-regular);
    line-height: calc(var(--base-line-height)*1.5);
}
.article__cat {
    display: block;
    margin-bottom: .75rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}
.article__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.article__date {
    display: inline-block;
    margin-right: .5rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}
.article__content {
    overflow: hidden;
    padding: 1rem 1rem 7rem 1rem;
    transition: background .1s ease-in-out;
}
.article__summary {
    margin-bottom: 3.5rem;
    color: var(--color-grey);
}
.article__info {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-light);
}
.article__readmore {
    display: inline-block;
    vertical-align: middle;
}
.article__readingtime {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--type-tiny);
}
@media all and (--from-mediumsmall) {
    .articles {
        margin: 1.5rem 0.75rem 0 0.75rem;
    }
    .article {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-bottom: 1.5rem;
    }
    .article--sml {
        width: 50%;
        margin-bottom: 0;
    }
    .article--lrg {
        width: 50%;
        margin-bottom: 0;
    }
}
@media all and (--from-custlarge) {
    .article__readingtime {
        padding: 0rem;
        background: transparent;
        display: inline-block;
        vertical-align: middle;
        margin-top: .5rem;
        margin-bottom: 0rem;
    }
    .article__date {
        margin-bottom: 1.5rem;
    }
    .article__content {
        padding: 2rem 2rem 7rem 2rem;
    }
    .article__title__link {
        font-size: 3.5rem;
        line-height: calc(var(--base-line-height)*3.25);
    }
}
@media all and (--from-xlarge) {
    .articles {
        margin: 3rem 1.5rem 0 0.75rem;
    }
    .article--ingrid {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 3rem;
    }
    .article--sml {
        width: 33.333%;
    }
    .article--lrg {
        width: 66.666%;
    }
    .article--lrg .article__content {
        /*position: absolute;*/
        bottom: 0;
        padding: 2rem 5rem 2rem 5rem;
    }
    .article--lrg .article__header {
        margin-right: 10%;
    }
    .article--lrg .article__summary {
        margin: 2rem 0;
    }
    .article--lrg .article__info {
        right: 3rem;
    }
    .article__summary {
        margin-bottom: 1.5rem;
    }
}