/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all .2s;
    padding: 1rem;
    font-family: var(--ff-sans);
}
.input:hover,
.input:focus,
.input:active {
    outline: 0;
    border-color: var(--color-light);
}
.input:hover::placeholder,
.input:focus::placeholder,
.input:active::placeholder {
}
.input::placeholder {
    color: color(var(--color-ultralight) blackness(20%));
    font-size: var(--type-base);
}
.input--text {
    line-height: 1.5rem;
    border-bottom: 1px solid var(--color-ultralight);
}
.input--textarea {
    display: block;
    min-height: 9rem;
    border-bottom: 1px solid var(--color-ultralight);
}
.input--search {
    display: inline-block;
    width: 100%;
    cursor: text;
    border: 0;
    background: transparent;
    transition: all .2s;
    padding: 0 2rem 1rem 0;
    line-height: 1.5rem;
    overflow: hidden;
    border-bottom: 1px solid var(--color-ultralight);
}
@media all and (--from-large) {
    .input--search {
        margin-bottom: 1rem;
    }
}
.input--search:hover,
.input--search:focus,
.input--search:active {
    outline: 0;
    border-color: var(--color-light);
}
.input--search:focus {
    padding: 0rem 2rem 1rem 1rem;
    transition: all .2s;
}
.input--check {
    position: absolute;
    left: -99999px;
}
.input--check + label {
    cursor: pointer;
    font-size: var(--type-small);
    display: inline-block;
    vertical-align: middle;
    font-family: var(--ff-sans);
    color: var(--color-light);
    font-size: 0.8em;
}
.input--check + label:before {
    transition: all .5s;
    content: '';
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    vertical-align: 0;
    margin-right: 0.8rem;
    margin-left: 0.4rem;
    border: 1px solid var(--color-light);
    display: inline-block;
}
.input--check:checked + label:before {
    border-color: var(--color-primary);
    background: var(--color-primary);
}
.input--check:focus + label:before {
    border-color: var(--color-primary);
}
.input--hightlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
.input--bar    { 
    position: relative; 
    display: block; 
    width: 100%;
}
.input--bar:before, .input--bar:after     {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: var(--color-primary); 
  transition: 0.2s ease all; 
}
.input--bar:before {
  left: 50%;
}
.input--bar:after {
  right: 50%; 
}

/* Active state */
.input:focus ~ .input--bar:before, .input:focus ~ .input--bar:after {
  width: 50%;
}
.input:focus ~ .input--hightlight {
  animation:inputHighlighter 0.3s ease;
}

/*Animation*/
keyframes inputHighlighter {
    from { 
        background: var(--color-primary); 
    }
    to { 
        width:0; 
        background:transparent; 
    }
}