/*------------------------------------*\
    # util.group
\*------------------------------------*/

.group {
    overflow: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}