/*------------------------------------*\
    # components.logo
\*------------------------------------*/

.logo  {

}
.expand .logo  {
    position: absolute;
    left: 1rem;
    top: 2rem;
}

@media all and (--from-large) {
    .expand .logo  {
        top: 1.5rem;
        left: 2.5rem;
    }   
}