/*------------------------------------*\
    # components.post
\*------------------------------------*/

.post {
}
.post__header {
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 7rem 1.5rem 3rem 1.5rem;
    z-index: -2;

    /* Background image URL comes from HTML style attribute */
    background: var(--color-primary);
    background-size: cover;
    background-position: center center;
}
@media all and (--from-xlarge) {
    .post__header {
        text-align: center;
        padding-top: 14rem;
        padding-bottom: 10rem;
        min-height: 50vh;
    }
}
.post__logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
}
.post__header__container {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
}
.post__header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    z-index: -1;
}
.post__time {
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-light);
}
.post__title {
    font-size: var(--type-xlarge);
    line-height: calc(var(--base-line-height)*1.75);
    color: white;
    font-weight: 700;
}
@media all and (--from-medium) {
    .post__title {
        font-size: var(--type-xxlarge);
        line-height: calc(var(--base-line-height)*2.25);
    }
}
@media all and (--from-large) {
    .post__title {
        font-size: var(--type-xxxlarge);
        line-height: calc(var(--base-line-height)*2.75);
    }
}
.post__body {
    margin-bottom: 6rem;
    padding: 0 1.5rem;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}
.post__body__excerpt {
    font-size: var(--type-medium);
    line-height: calc(var(--base-line-height)*1.25);
    margin-bottom: calc(var(--base-line-height)*1);
}
@media all and (--from-medium) {
    .post__body__excerpt {
        font-size: var(--type-xlarge);
        line-height: calc(var(--base-line-height)*1.75);
        margin-bottom: calc(var(--base-line-height)*2);
    }
}
.post__tags {
    margin-top: calc(var(--base-line-height)*2);   
}