<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
    <div class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
            <div class="center mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__title mdl-card--expand mdl-card__media mdl-color-text--grey-50 background__lost">
                    <h2>Error 404</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Nothing found here! Sorry for the inconvenience!
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a ui-sref="master.main.index"  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Back to homepage
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>