<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">
            <div class="demo-back">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" ui-sref="master.main.index" >
                    <i class="material-icons">arrow_back</i>
                </a>
            </div>
            <div class="demo-blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="author__container">
                        <a href="{{ profile.webSites }}" ng-if="profile.webSites.length"><h1 class="author__title--primary">{{ profile.displayName }}</h1></a>
                        <h1 class="author__title--primary" ng-if="!profile.webSites.length">{{ profile.displayName }}</h1>
                        <h2 class="author__name">{{ profile.firstName }} {{ profile.lastName }}</h2>
                        <div class="spc--top--sml author__content author__content--divider">
                            <p >{{ profile.aboutMySelf }}</p>
                            <p class="spc--top--sml">{{ profile.firstName }} is member since <span class="author__content__date">{{ profile.dateCreated | date: 'mediumDate' }}</span></p>
                        </div>
                        <div class="spc--top--lrg">
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" onclick="history.back()"><span class="arrow --small --bck"></span> Back</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter"></button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__facebook"></button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin"></button>
                </div>
                <div class="mdl-mini-footer--right-section">
                    <p class="">Powered by <a href="http://baasic.com">Baasic</a></p>
                </div>
            </footer>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>