<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header role="banner" class="header">
    <div class="header__top">
        <div class="header__search search">
            <form ng-controller="SearchCtrl" novalidate ng-submit="searchBlog()">
                <input class="input--search" placeholder="Search..." type="search" ng-model="searchFor">
                <button type="submit" class="btn--search"></button>
            </form>
        </div>
        <div class="header__profile profile">
            <div class="profile__settings">
                <div ng-if="$root.user.isAuthenticated">
                    <p class="profile__message">Welcome, {{ $root.user.displayName }}!</p>
                    <div class="profile__buttons">
                        <button type="button" class="btn btn--negative btn--sml rounded" ng-click="newBlogPost()">New post</button>
                        <baasic-logout on-logout="setEmptyUser()">
                            <button type="button" class="btn btn--negative btn--sml rounded" ng-click="logout()">Logout</button>
                        </baasic-logout>
                    </div>
                </div>
            </div>
            <div ng-if="!$root.user.isAuthenticated">
                <div class="profile__buttons">
                    <a class="btn btn--negative btn--sml rounded" ui-sref="login">login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__container">
        <div class="header__content row">
            <h1 class="logo"><a ui-sref="master.main.index" class="logo__link logo__link--large">Your Site Title</a></h1>
            <ul class="smm group">
                <li class="smm__item">
                    <a class="smm__link" href="https://www.facebook.com/">
                        <img src="assets/img/smm-facebook.svg" alt="Facebook" class="smm__icon">
                    </a>
                </li>
                <li class="smm__item">
                    <a class="smm__link" href="https://www.linkedin.com">
                        <img src="assets/img/smm-linkedin.svg" alt="LinkedIn" class="smm__icon">
                    </a>
                </li>
                <li class="smm__item">
                    <a class="smm__link" href="https://twitter.com/">
                        <img src="assets/img/smm-twitter.svg" alt="Twitter" class="smm__icon">
                    </a>
                </li>
                <li class="smm__item">
                    <a class="smm__link" href="https://github.com/">
                        <img src="assets/img/smm-github.svg" alt="GitHub" class="smm__icon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__overlay"></div>
    </div>
</header>
<main ui-view smooth-scroll></main>
<footer class="footer" role="contentinfo">
    <div class="row">
        <div class="footer__group">
            <div class="footer__info">
                <p>Copyright @ Blog name</p>
            </div>
            <div class="footer__poweredby">
                <p>Powered by <a href="http://www.baasic.com" class="footer__poweredby--link">Baasic</a></p>
            </div>
        </div>
    </div>
</footer>