<div class="layout__form">
    <h1 class="spc--bottom--lrg">{{ isNew ? 'Add New' : 'Edit' }} Blog Post</h1>
    <form name="blogPost" novalidate class="form">
        <div class="form__field">
            <label class="form__label" for="fieldTitle">Title</label>
            <input type="text" name="title" id="fieldTitle" ng-model="blog.title" class="input input--text" required />
            <p class="alert alert--warning" ng-show="(blogPost.$submitted || blogPost.title.$touched) && blogPost.title.$error.required">Title is required.</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="fieldBody">Featured image</label>
            <input type="text" name="featured" id="fieldBody" ng-model="blog.featured" class="input input--text" />
        </div>
        <div class="form__field">
            <label class="form__label" for="fieldExcerpt">Excerpt</label>
            <textarea name="excerpt" id="fieldExcerpt" ng-model="blog.excerpt" class="input input--textarea"></textarea>
        </div>
        <div class="form__field spc--bottom--med">
            <label class="form__label" for="fieldContent">Content</label>
            <div class="group">
                <div class="editor__type">
                    <div class="editor__header">
                        <small class="editor__explain">Write your post below in markdown format. You can use right side for preview, HTML view or help with markdown syntax.</small>
                    </div>
                    <textarea placeholder="Type your markdown text here.." name="content" id="fieldContent" ng-model="blog.content" class="editor__field"></textarea>
                </div>
                <div class="editor__preview">
                    <div class="editor__header">
                        <button class="btn --light --med rounded" type="button" ng-class="{ 'active': state.conentent.viewMode === 'markdown' }" ng-click="setViewMode('markdown')">Preview</button>
                        <button class="btn --light --med rounded" type="button" ng-class="{ 'active': state.conentent.viewMode === 'html' }" ng-click="setViewMode('html')">Html</button>
                        <button class="btn --light --med rounded" type="button" ng-class="{ 'active': state.conentent.viewMode === 'help' }" ng-click="setViewMode('help')">Help</button>
                    </div>
                    <div class="editor__field styledtext" ng-if="state.conentent.viewMode === 'markdown'" btf-markdown="blog.content">
                    </div>
                    <div class="editor__field" ng-if="state.conentent.viewMode === 'html'">
                        {{ getHtml(blog.content) }}
                    </div>
                    <div class="editor__field" ng-if="state.conentent.viewMode === 'help'" ng-include="'templates/markdown-syntax-highlight.html'">

                    </div>
                </div>
            </div>
        </div>
        <div class="form__field">
            <tags-input class="form__label" -input ng-model="blog.tags" display-property="tag" add-on-comma="true">
                <auto-complete source="loadTags($query)">
                </auto-complete>
            </tags-input>
        </div>
        <div class="form__field">
            <button type="submit" class="btn --primary --med rounded" ng-click="saveBlog()">Save</button>
            <button type="button" class="btn --light --med rounded" ng-click="cancelEdit()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>
</div>