<form name="login" novalidate ng-submit="submitLogin()">
    <label>Username</label>
    <input type="text" name="username" ng-model="username" name="username" required placeholder="Enter your email or username" />
    <div ng-show="login.$submitted || login.username.$touched">
        <p ng-show="login.username.$error.required">Username is required.</p>
    </div>
    
    <label>Password</label>
    <input type="password" name="password" ng-model="password" name="password" required placeholder="Password" autocomplete="off" />
    <div ng-show="login.$submitted || login.password.$touched">
        <p ng-show="login.password.$error.required">Password is required.</p>
    </div>
    <button type="submit" ng-disabled="logging">Login</button>
    <p ng-show="loginError">
        {{loginError}}
    </p>
</form>
