<header class="header">
    <div class="pull">
        <h1 class="header__identity">The Club</h1>
    </div>
    <div class="push">
            <button ng-click="searchOpen=!searchOpen" title="Search" class="btn btn--icon btn--lrg icon--search spc--right--lrg" type="button">Search</button>
            <button ng-click="tagOpen=!tagOpen" title="Tag Cloud" class="btn btn--icon btn--lrg icon--tagcloud spc--right--lrg">Tag Cloud</button>
        <div class="inline-block" ng-if="$root.user.isAuthenticated">
            <button class="btn btn--icon icon--write btn--lrg spc--right--lrg" title="New Post" type="button" ng-click="newBlogPost()">New post</button>
            <baasic-logout on-logout="setEmptyUser()" class="spc--right--lrg">
                <button class="btn btn--icon btn--lrg icon--logout" title="Log Out" type="button" ng-click="logout()">Logout</button>
            </baasic-logout>
            <div class="inline-block">Welcome {{ $root.user.displayName }}</div>

        </div>
        <div class="inline-block" ng-if="!$root.user.isAuthenticated"><button type="button" title="Log In" class="btn btn--icon btn--lrg icon--login" ui-sref="login">login</button></div>
    </div>
    <!-- modals -->
    <div class="modal" ng-class="{'nShow': searchOpen}">
        <div class="modal--dialog">
            <div class="modal--content">
                <button ng-click="searchOpen=!searchOpen" class="btn btn--close" type="button"></button>
                <div class="search">
                    <form ng-controller="SearchCtrl" novalidate ng-submit="searchBlog()">
                        <input class="input--search" placeholder="Search..." type="search" ng-model="searchFor" />

                        <button type="submit" class="btn btn--icon btn--lrg icon--search"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ng-class="{'nShow': tagOpen}">
        <div class="modal--dialog">
            <div class="modal--content">
                <button ng-click="tagOpen=!tagOpen" class="btn btn--close" type="button"></button>
                <ul class="tags group">
                    <li class="tags__item" ng-repeat="tag in tags">
                        <a ui-sref="master.main.blog-search({ tags: tag.slug })" class="tags__link " title="{{ tag.tag }}">{{ tag.tag }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </header>



<main ui-view>
        
</main>
