<header>
    <div ng-if="$root.user.isAuthenticated">
        <div>Welcome, {{ $root.user.displayName }}</div>
        <button type="button" ng-click="newBlogPost()">New post</button>
        <baasic-logout on-logout="setEmptyUser()">
            <button type="button" ng-click="logout()">Logout</button>
        </baasic-logout>
    </div>
    <div ng-if="!$root.user.isAuthenticated">To create new blog please <a ui-sref="login">login</a> or <a ui-sref="master.register">register</a></div>
</header>

<h1>My New Blog</h1>

<main ui-view>
        
</main>
