<form name="recovery" novalidate ng-submit="requestChange()">
    <label>
        E-mail or username
        <input type="text" ng-model="request.userName" name="username" required placeholder="Enter your e-mail or username" />
    </label>
    <div ng-show="recovery.$submitted || recovery.username.$touched">
        <p ng-show="recovery.username.$error.required">E-mail or username is required.</p>
    </div>
    
    <div baasic-recaptcha></div>
    
    <button type="submit">Reset Password</button>
    <button type="button" ng-click="back()">Back</button>
    
    <div ng-show="requestSuccess" class="ba-message --small --success">
        {{requestSuccess}}
    </div>
    <div ng-show="requestError" class="ba-message --small --alert">
        {{requestError}}
    </div>
</form>
