<form name="changePassword" novalidate ng-submit="reset()">
    <div ng-hide="changeSuccess">
        <label>
            New password
            <input type="password" ng-model="changeRequest.newPassword" name="newPassword" required placeholder="New password" />
        </label>
        <div ng-show="changePassword.$submitted || changePassword.newPassword.$touched">
            <p ng-show="changePassword.newPassword.$error.required">E-mail or username is required.</p>
        </div>
        <label>
            Confirm new password
            <input type="password" ng-model="changeRequest.confirmPassword" name="confirmPassword" ng-pattern="changeRequest.newPassword" placeholder="Confirm new password" />
        </label>
        <div ng-show="changePassword.$submitted || changePassword.confirmPassword.$touched">
            <p ng-show="changePassword.confirmPassword.$error.pattern">Passwords don't match.</p>
        </div>

        <button type="submit">Change Password</button>

        <div ng-show="changeError">
            {{changeError}}
        </div>
    </div>
    <div ng-show="changeSuccess">
        {{changeSuccess}}
        <br />
        You can now <a ui-sref="login">login</a> with your new password.
    </div>
</form>
