<article class="post" ng-hide="isEdit">
    <header class="post__header" ng-style="{ 'background-image': blog.featured ? 'url(' + blog.featured + ')' : 'none' }">
        <div class="post__bg__overlay"></div>
        <div class="post__header__container">
            <a class="btn btn--inverse btn--med radial spc--bottom--med" href="javascript:void(0);" ui-sref="master.main.index" rel="home">Back</a>
            <h1 class="post__title">{{ blog.title }}</h1>
            <span class="post__header__overlay"></span>
        </div>
    </header>
    <div class="post__body">
        <div class="group spc--bottom--med">
            <p class="post__time pull">{{ blog.dateUpdated | date : 'medium' }}</p>
            <span class="post__time push">{{ blog.readingTime.text }}</span>
        </div>
        <div btf-markdown="blog.content" class="styledtext">
        </div>
        <ul class="post__tags tags group">
            <li ng-repeat="tag in blog.tags" class="tags__item">
                <a class="tags__link" ui-sref="master.main.blog-search({ tags: tag.slug })">{{ tag.tag }}</a>
            </li>
        </ul>
        <hr>
        <span ng-hide="isEdit">
            <span ng-if="$root.user.isAuthenticated" class="push">
                <button type="button" class="btn btn--light btn--med radial" ng-click="editBlog()">Edit</button>
                <button type="button" class="btn btn--light btn--med radial" ng-click="deleteBlog()">Delete</button>
            </span>
        </span>
        <button type="button" class="btn btn--light btn--med radial" href="javascript:void(0);" ui-sref="master.main.index" rel="home">Back</button>
    </div>
</article>

<baasic-blog-edit ng-show="isEdit" blog="blog" on-save="blogSaved()" on-cancel="cancelEdit()">
</baasic-blog-edit>
