<div class="row">
    <div class="sidebar" role="banner">
        <header role="banner" class="header group">
            <div class="group spc--bottom--lrg">
                <a ui-sref="master.main.index"><h1 class="logo">Baasic Starter Kit Blog Platform</h1></a>
                <a href="javascript:void(0)" ng-click="menuOpened=!menuOpened" ng-class="{'nShow': menuOpened}" class="menu-toggle"><span></span></a>
            </div>
        </header>

        <div class="sidebar__container">
            <div class="sidebar__widget">
                <div class="header__controls" ng-class="{'expand': menuOpened}">
                    <div class="search">
                        <form ng-controller="SearchCtrl" novalidate ng-submit="searchBlog()">
                            <input class="input--search" placeholder="Search..." type="search" ng-model="searchFor" />
                            <button type="submit" class="btn--search"></button>
                        </form>
                    </div>
                </div>
                <p class="header__desc" ng-class="{'expand': menuOpened}">"It's very important not to embellish on your order. No extraneous comments. No questions. No compliments."<span class="header__auth">Jerry Seinfeld, "The Soup Nazi"</span></p>
            </div>

            <nav class="sidebar__navigation" role="navigation" ng-class="{'expand': menuOpened}">
                <h2 class="sidebar__title">Recent Tags</h2>
                <ul class="tags group" ng-controller='MainCtrl'>
                    <li class="tags__item" ng-repeat="tag in tags">
                        <a ui-sref="master.main.blog-search({ tags: tag.slug })" class="tags__link " title="{{ tag.tag }}">{{ tag.tag }}</a>
                    </li>
                </ul>
            </nav>

            <div class="sidebar__widget header__share" ng-class="{'expand': menuOpened}">
                <h2 class="sidebar__title">Spread the word</h2>
                <ul class="smm group">
                    <li class="smm__item">
                        <a class="smm__link" href="https://www.facebook.com/">
                            <img src="assets/img/smm-facebook.svg" alt="Facebook" class="smm__icon">
                        </a>
                    </li>
                    <li class="smm__item">
                        <a class="smm__link" href="https://www.linkedin.com">
                            <img src="assets/img/smm-linkedin.svg" alt="LinkedIn" class="smm__icon">
                        </a>
                    </li>
                    <li class="smm__item">
                        <a class="smm__link" href="https://twitter.com/">
                            <img src="assets/img/smm-twitter.svg" alt="Twitter" class="smm__icon">
                        </a>
                    </li>
                    <li class="smm__item">
                        <a class="smm__link" href="https://github.com/">
                            <img src="assets/img/smm-github.svg" alt="GitHub" class="smm__icon">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar__widget" ng-class="{'expand': menuOpened}">
                <h2 class="sidebar__title">Admin</h2>
                <div ng-if="$root.user.isAuthenticated">
                    <p class="sidebar__message">Welcome, {{ $root.user.displayName }}</p>
                    <button ng-controller="MainCtrl" type="button" class="btn btn--primary btn--med" ng-click="newBlogPost()">New post</button>
                    <baasic-logout on-logout="setEmptyUser()">
                    <button type="button" class="btn btn--secondary btn--med" ng-click="logout()">Logout</button>
                </baasic-logout>
            </div>

            <div ng-if="!$root.user.isAuthenticated">
                <p class="sidebar__message">To create new blog please </p>
                <a class="btn btn--primary btn--med" ui-sref="login">login</a>
                <a class="btn btn--primary btn--med" ui-sref="register">register</a></div>
            </div>

            <footer class="footer" role="contentinfo">
                <div class="footer__info">
                    <p>Copyright @ Blog name</p>
                </div>
                <div class="footer__poweredby">
                    <p>Powered by <a href="http://www.baasic.com">Baasic</a></p>
                </div>
            </footer>
        </div>
    </div>
</div>