<div class="message" ng-class="{'close': messageClosed}">
    <div class="message__container">
        <a href="http://baasic.com" class="message__icon--primary">
        </a>
        <a href="https://github.com/Baasic/baasic-starterkit-angularjs-blog">
            <p class="message__title">Grab a Starter Kit and start building!</p>
        </a>
    </div>
    <a href="javascript:void(0)" ng-click="messageClosed=!messageClosed" ng-class="{'nShow': messageClosed}"><span class="message__icon--secondary">Close</span></a>
</div>


<div class="container container__main">
    <div class="layout__content">
        <header role="banner" class="header">
            <a href="/" class="header__logo">
                <img src="assets/img/logo.svg" alt="Baasic Theme Logo">
            </a>
            <div class="header__controls">
                <div class="search">
                    <form ng-controller="SearchCtrl" novalidate ng-submit="searchBlog()">
                        <input class="input--search" placeholder="Search..." type="search" ng-model="searchFor" />
                        <button type="submit" class="btn--search"></button>
                    </form>
                </div>
            </div>
        </header>

        <baasic-hero-img></baasic-hero-img>

<div class="layout__form">
    <a class="btn --light --med rounded" ui-sref="master.main.index">Home</a>
</div>
<baasic-registration></baasic-registration>

