/*------------------------------------*\
    # components.post
\*------------------------------------*/

.post {
}
.post__header {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 2.5rem 1.5rem;

    /* Background image URL comes from HTML style attribute */
    background-size: cover;
}
.post__header__container {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
}
.post__header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: color(black a(0.2));
    z-index: -1;
}
.post__time {
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-light);
}
.post__title {
    font-size: var(--type-xlarge);
    line-height: calc(var(--base-line-height)*1.75);
    color: white;
}
.post__body {
    margin-bottom: 6rem;
    padding: 0 1.5rem;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}
.post__body .styledtext p:first-of-type {
    font-family: var(--ff-sans);
    font-size: var(--type-medium);
    line-height: calc(var(--base-line-height)*1.25);
    margin-bottom: calc(var(--base-line-height)*1);
}
.post__tags {
    margin-top: calc(var(--base-line-height)*2);   
}

@media all and (--from-medium) {
    .post__body .styledtext p:first-of-type {
        font-family: var(--ff-sans);
        font-size: var(--type-xlarge);
        line-height: calc(var(--base-line-height)*1.75);
        margin-bottom: calc(var(--base-line-height)*2);
    }
    .post__body {
        /*padding: 0 3rem;*/
    }
    .post__header {
        padding: 6rem 3rem;
        margin-bottom: 6rem;
    }
    .post__title {
        font-size: var(--type-xxlarge);
        line-height: calc(var(--base-line-height)*2.25);
        color: white;
    }
}
@media all and (--from-large) {
    .post__body { 
        /*padding: 0 6rem;*/
    }
    .post__header {
        padding: 6rem;
    }
    .post__title {
        font-size: var(--type-xxxlarge);
        line-height: calc(var(--base-line-height)*2.5);
    }
}

@media all and (--from-xlarge) {
    .post {
    }
    .post__header {
        padding: 12rem;
        min-height: 40vh;
    }
    .post__visual {
    }
    .post__body {
       /* padding: 0 30rem 0 30rem;*/
    }
}