/*------------------------------------*\
    # components.form
\*------------------------------------*/

.form {
}
.form__field {
    margin-bottom: 1.5rem;
}
.form__desc {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    color: var(--color-light);
}
.form__field--half {
    margin-bottom: 1.5rem;
}
@media all and (--from-medium) {
    .form__field--half {
        float: left;
        width: 50%;
    }
    .form__field--half:last-child {
        float: right;
        padding-left: 1rem;
    }
}

.form__label {
    font-family: var(--ff-sans);
    font-size: var(--type-small);
    font-weight: 700;
    margin-bottom: .75rem;
    display: block;
    color: var(--color-grey);
}