/*------------------------------------*\
    # components.bg
\*------------------------------------*/

.bg--ultralight {
    background: var(--color-ultralight);
}
.bg--light {
    background: var(--color-light);
}
.bg--primary {
    background-color: var(--color-primary);
}