/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

:root {

    --color-madison:        #2f4856;
    --color-niagara:        #34b297;
    --color-sunglo:         #c45c4c;

    --color-white:          #ffffff;
    --color-white-smoke:    #ececec;
    --color-dim-grey:       #6f6f6f;

    --color-torchred:       #FF0043;
    --color-malachite:      #00D369;
    --color-orange:         #F75E00;


    --color-primary:    var(--color-madison);
    --color-secondary:  var(--color-niagara);
    --color-tertiary:   var(--color-sunglo);

    --color-ultralight: var(--color-white);
    --color-light:      var(--color-white-smoke);
    --color-grey:       var(--color-dim-grey);

    --color-warning:     var(--color-torchred);
    --color-success:     var(--color-malachite);
    --color-note:        var(--color-orange);
}