<article class="post" ng-hide="isEdit">
    <header>
        <h1 class="post__logo logo"><a ui-sref="master.main.index" class="logo__link logo__link--small">Your Site Title</a></h1>
        <div class="post__header" ng-style="{ 'background-image': blog.featured ? 'url(' + baseHref + blog.featured + ')' : 'none' }">
            <div class="post__header__container">
                <h2 class="post__title">{{ blog.title }}</h2>
                <span class="post__header__overlay"></span>
            </div>
        </div>
    </header>
    <div class="post__body">
        <div class="group spc--bottom--med">
            <p class="post__time pull">{{ blog.dateUpdated | date : 'medium' }}</p>
            <span class="post__time push">{{ blog.readingTime.text }}</span>
        </div>
        <p class="post__body__excerpt">{{ blog.excerpt }}</p>
        <div btf-markdown="blog.content" class="styledtext">
        </div>
        <ul class="post__tags tags group">
            <li ng-repeat="tag in blog.tags" class="tags__item">
                <a class="tags__link" ui-sref="master.main.blog-search({ tags: tag.slug })">{{ tag.tag }}</a>
            </li>
        </ul>
        <baasic-profile author-id="authorId"></baasic-profile>
        <hr>
        <button type="button" class="btn btn--dark btn--med rounded" href="javascript:void(0);" ui-sref="master.main.index" rel="home">Back</button>
        <span ng-hide="isEdit">
            <span ng-if="$root.user.isAuthenticated" class="push">
                <button type="button" class="btn btn--light btn--med rounded" ng-click="editBlog()">Edit</button>
                <button type="button" class="btn btn--light btn--med rounded" ng-click="deleteBlog()">Delete</button>
            </span>
        </span>
        <div class="spc--top--lrg">
            <blog-comments article-id='blog.id' blog='blog' ng-if="!blog.hideComments"></blog-comments>
        </div>
    </div>
</article>

<baasic-blog-edit ng-show="isEdit" blog="blog" on-save="blogSaved()" on-cancel="cancelEdit()">
</baasic-blog-edit>
