/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {}
.article__header {}
.article__title {}

.article { 
    padding-left: 1.5rem; 
}
.article__title__link {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-medium);
    font-weight: var(--type-regular);
    line-height: calc(var(--base-line-height)*1.25);
    color: var(--color-mediumgray);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.article__title__link:hover {
    color: var(--color-dark);
}
.article__summary__text {
    max-width: 50rem;
}
.article__date {
    display: block;
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}
.article:last-child .article__content {
    border-bottom: 1px solid var(--color-ultralight);
}
.article__content {
    overflow: hidden;
    transition: background .1s ease-in-out;
    border-top: 1px solid var(--color-ultralight);
}
@media all and (--from-mediumsmall) {
    .articles {
        margin: 1.5rem 0 0 0.75rem;
    }
    .article__title__link {
        font-size: var(--type-large);
        display: table;
        width: 100%;
    }
    .article__title__link:hover {
        transition: all .15s;
        padding-left: .5em;
        border-left: 5px solid var(--color-darkgrey);
    }
    .article__date {
        display: table-cell;
        width: 5rem;
    }
    .article__heading {
        display: table-cell;
    }
    .article__summary__text {
        margin-left: 5rem;
    }
}