/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    margin: 2rem 0 3rem 2rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    color: var(--color-light);
}
@media all and (--from-large) {
    .footer {
        width: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        left: 3.5rem;
        bottom: -1rem;
    }
    .footer__info {
        display: inline-block;
        width: 24em;
    }
}