/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--color-ultralight);
    background: white;
    transition: all .2s;
    padding: 1rem;
}
.input:hover,
.input:focus,
.input:active {
    outline: 0;
    border-color: var(--color-light);
}
.input:hover::placeholder,
.input:focus::placeholder,
.input:active::placeholder {
}
.input::placeholder {
    color: color(var(--color-ultralight) blackness(20%));
    font-size: var(--type-base);
    font-family: var(--ff-sans);
}
.input--text {
    line-height: 1.5rem;
    border-bottom: 1px solid var(--color-ultralight);
}
.input--textarea {
    min-height: 9rem;
    border-bottom: 1px solid var(--color-ultralight);
}
.input--search {
    display: inline-block;
    width: 100%;
    cursor: text;
    border: 0;
    background: transparent;
    transition: all .2s;
    padding: 0 2rem 1rem 0;
    line-height: 1.5rem;
    overflow: hidden;
    appearance: none !important;
    border-radius: 0;
}
.input--search:hover,
.input--search:focus,
.input--search:active {
    outline: 0;
    border-color: var(--color-light);
}
@media all and (--from-large) {
    .input--search {
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--color-ultralight);
    }
}
.input--search:focus {
    padding: 0rem 2rem 1rem 1rem;
    transition: all .2s;
}
.input--check {
    position: absolute;
    left: -99999px;
}
.input--check + label {
    cursor: pointer;
    font-size: var(--type-small);
    display: inline-block;
    vertical-align: middle;
    font-family: var(--ff-sans);
    color: var(--color-light);
    font-size: 0.8em;
}
.input--check + label:before {
    transition: all .5s;
    content: '';
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    vertical-align: 0;
    margin-right: 0.8rem;
    margin-left: 0.4rem;
    border: 1px solid var(--color-light);
    display: inline-block;
}
.input--check:checked + label:before {
    border-color: var(--color-primary);
    background: var(--color-primary);
}
.input--check:focus + label:before {
    border-color: var(--color-primary);
}