/*------------------------------------*\
    # modules.loader
\*------------------------------------*/

@keyframes spinneranimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark);
    padding-top: 6rem;
    opacity: 1;
    transition: all .5s;
}
.loader.ng-hide {
    opacity: 0;
    display: block !important;
    visibility: hidden;
}
.loading__content {
    text-align: center;
}
.loader__spinner {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto 1.5rem auto;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    animation: spinneranimation .5s infinite linear;
    transform: translateZ(0);
 }
.loading__message {
    font-size: var(--type-small);
    font-family: var(--ff-sans);;
    text-transform: uppercase;
    color: var(--color-grey);
    letter-spacing: .1em;
}