<a ui-sref="new-page">Add new</a>
<section>
    <article ng-if="hasPages" ng-repeat="page in pageList.item">
        <h2><a ui-sref="page-edit({ slug: page.slug })">{{ page.title }}</a></h2>
        <div ng-if="page.status === 1">Draft</div>
        <p>
            {{ page.dateUpdated | date : 'medium' }}
        </p>
        <button type="button" ng-click="deletePage(page)">Delete</button>
        <button type="button" ng-click="togglePublish(page)">{{ page.status === 1 ? 'Publish' : 'Unpublish' }}</button>
    </article>

    <div>
        <button type="button" ng-if="pager.hasPrevious"><</button>
        <button type="button" ng-repeat="pageNumber in [1, 2]" ng-disabled="pageNumber === pager.currentPage">{{ $index + 1 }}</button>
        <button type="button" ng-if="pager.hasNext"><</button>
    </div>

    <article ng-if="!hasPages">
        <p>
            No pages.
        </p>
    </article>
</section>
