<a ui-sref="master.new-page">Add new</a>
<section>
    <article ng-if="hasPages" ng-repeat="page in pageList.item">
        <h2><a ui-sref="master.page-edit({ slug: page.slug })">{{ page.title }}</a></h2>
        <div ng-if="page.status === 1">Draft</div>
        <p>
            {{ page.dateUpdated | date : 'medium' }}
        </p>
        <button type="button" ng-click="deletePage(page)">Delete</button>
        <button type="button" ng-click="togglePublish(page)">{{ page.status === 1 ? 'Publish' : 'Unpublish' }}</button>
    </article>

    <pager pager-data="pagerData">
        <button type="button" ng-if="pager.hasPrevious" ng-click="previousPage()"><</button>
        <button type="button" ng-if="pager.hasPreviousGroup" ng-click="previousPageGroup(pager.currentGroupIndex)">...</button>
        <button type="button" ng-repeat="pageNumber in pager.pages" ng-disabled="pageNumber === pager.currentPage" ng-click="selectPage(pageNumber)">{{ pageNumber }}</button>
        <button type="button" ng-if="pager.hasNextGroup" ng-click="nextPageGroup(pager.currentGroupIndex)">...</button>
        <button type="button" ng-if="pager.hasNext" ng-click="nextPage()">></button>
    </pager>

    <article ng-if="!hasPages">
        <p>
            No pages.
        </p>
    </article>
</section>
