<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="demo-back">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" ui-sref="master.main.index" >
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="demo-blog__posts mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600 mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp center">
                    <form name="login" novalidate ng-submit="submitLogin()" class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
                            <input class="mdl-textfield__input" type="text" id="username" name="username" ng-model="username" class="mdl-cell mdl-cell--12-col" required/>
                            <label class="mdl-textfield__label" for="username" ng-class="{'has-data':username.length>0}">Enter Your Username or Email</label>
                            <div ng-show="login.$submitted || login.username.$touched">
                                <span ng-show="login.username.$error.required && !login.username.length" class="mdl-textfield__error">Username is required.</span>
                            </div>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
                            <input class="mdl-textfield__input" type="password" id="password" name="password" ng-model="password" class="mdl-cell mdl-cell--12-col" required />
                            <label class="mdl-textfield__label" for="password" ng-class="{'has-data':password.length>0}">Enter Your Password</label>
                            <div ng-show="login.$submitted || login.password.$touched">
                                <span ng-show="login.password.$error.required" class="mdl-textfield__error">Password is required.</span>
                            </div>
                        </div>
                        <div>
                            <button type="submit" id="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-js-ripple-effect" >Log-in</button>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <span ng-show="loginError" class="mdl-textfield__error" style="visibility:visible;">{{loginError}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div class="mdl-layout__obfuscator"></div>
</div>