/*------------------------------------*\
    # components.logo
\*------------------------------------*/

.logo  {
}
.logo__link {
    display: block;
    background: url(/assets/img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.logo__link--large {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}
.logo__link--small {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
}