/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {
    background: var(--color-dark);
}
@media all and (--from-medium) {
    .articles__grid {
        -webkit-column-count: 2;
        -webkit-column-gap: 2.5%;
        -webkit-column-width: 50%;
    }
}
@media all and (--from-large) {
    .articles__grid {
        transform: translateY(-12rem);
        -webkit-column-count: 3;
        -webkit-column-gap: 5%;
        -webkit-column-width: 33.3333%;
    }
}
.article {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5%;
}
.article:hover .article__content {
    opacity: 1;
}
.article__holder {
}
.article__figure {
}
.article__figure a {
    display: block;
}
.article__figure img {
}
.article__content {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
    padding: 2.5rem;
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
    will-change: opacity;
}
.article__title {
    margin-bottom: 0.75rem;
}
.article__title__link {
    display: inline-block;
    color: white;
    font-weight: 400;
}
.article__summary {
    margin-bottom: 0.75rem;
}
.article__summary__text {
    color: white;
}
.article__info {
    font-size: var(--type-small);
    color: rgba(255,255,255,0.7);
}
.article__info:before {
    content: '\2014';
}