/*------------------------------------*\
    # components.header
\*------------------------------------*/

.header {
}
.header__container {
    position: relative;
    padding-top: 6rem;
    min-height: 70vh;
    background-image: url(../assets/img/player.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.header__overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, var(--color-dark) 100%);
}
.header__content {
    position: relative;
    z-index: 1;
}
@media all and (--to-large) {
    .header {
    }
}
@media all and (--from-large) {
    .header {
    }
}