/*------------------------------------*\
    # components.profile
\*------------------------------------*/

.profile {
}
.profile__message {
    font-size: var(--type-small);
    color: rgba(255,255,255,0.6);
    float: left;
    margin-right: 1rem;
    display: none;
}
@media all and (--from-medium) {
    .profile__message {
        display: block;
    }
}
.profile__buttons {
    float: left;
}