/*------------------------------------*\
    # components.pager
\*------------------------------------*/

.pager {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 3rem;
    margin-top: 3rem;
    overflow: hidden;
    display: block;
}