/*------------------------------------*\
    # base.globals
\*------------------------------------*/

html {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    height: 100%;
}
body {
    position: relative;
    font-family: var(--ff-serif);
    font-weight: 400;
    min-width: 20em;
    min-height: 100%;
    background: var(--color-bodybg);
    color: var(--color-dark);
}
img, object, iframe {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}