/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {
    
}
.article {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5%;
    transition: all .2s ease-in-out;
    backface-visibility: hidden;
}
.article:hover {
    transform: translateY(-0.5rem);
}
.article:hover .article__figure img {
    -webkit-filter: grayscale(0);
}
.article__holder {
}
.article__figure {
}
.article__figure a {
    display: block;
    border-bottom: 1px solid var(--color-primary);
}
.article__figure img {
    -webkit-filter: grayscale(1) brightness(1.3);
    backface-visibility: hidden;
    transition: all .2s ease-in-out;
}
.article__content {
    padding: 5rem 5rem 4rem 5rem;
    text-align: center;
}
.article__title {
    margin-bottom: 0.75rem;
}
.article__title__link {
    color: var(--color-primary);
    display: inline-block;
}
.article__title__link:hover,
.article__title__link:focus {
}
.article__summary {
    margin-bottom: 0.75rem;
}
.article__summary__text {
    width: 50%;
    margin: 0 auto;
}
.article__info {
    font-size: var(--type-small);
}
.article__info:before {
    content: '\2014';
}