/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    background: rgba(0,0,0,0.9);
    padding: 1.5rem;
}
.footer__info {
    font-size: var(--type-tiny);
    color: var(--color-light);
    text-transform: uppercase;
    letter-spacing: .2em;
}
.footer__poweredby {
    font-size: var(--type-tiny);
    color: var(--color-light);
    text-transform: uppercase;
    letter-spacing: .2em;
}
.footer__title {
    font-size: var(--type-small);
}

@media all and (--from-medium) {
    .footer__group {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .footer__info {
        display: table-cell;
        vertical-align: top;
    }
    .footer__poweredby {
        display: table-cell;
        vertical-align: top;
        text-align: right;
    }
    .footer__title {
    }
}