/*------------------------------------*\
    # components.login
\*------------------------------------*/

.login {
	overflow: hidden;
}
@media all and (--from-medium) {
	.login--half {
		width: 45%;
		float: left;
		margin-right: 2.5%;
		padding-right: 2.5%;
		border-right: 1px solid lightgrey;
	}
	.login--half:last-child {
		margin-right: 0;
		border-right: none;
	}
}
.login__retreive {
	font-size: var(--type-tiny);
	color: grey;
}