/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    color: var(--color-light);
    padding: 1rem 2rem;
    text-align: center;
}

@media all and (--from-large) {
    .footer {
        text-align: left;
        overflow: hidden;
    }
}