<div class="layout__form" id="blogPostComments">
    <h1 class="spc--bottom--lrg">Comment:</h1>
    <form name="commentsForm" novalidate class="form" ng-submit="saveComments()">
        <div class="form__field">
            <label class="form__label" for="author">Name:</label>
            <input type="text" name="author" id="author" ng-model="comments.author" class="input input--text" required />
            <p class="alert alert--warning" ng-show="(commentsForm.$submitted || commentsForm.author.$touched) && commentsForm.author.$error.required">Name is required.</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="email">Email address:</label>
            <input type="email" name="email" id="email" ng-model="comments.email" class="input input--text" required />
            <p class="alert alert--warning" ng-show="(commentsForm.$submitted || commentsForm.email.$touched) && commentsForm.email.$error.required">Email is required.</p>
            <p class="alert alert--warning" ng-show="(commentsForm.$submitted || commentsForm.email.$touched) && commentsForm.email.$error.email">Please enter valid e-mail address.</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="title">Title</label>
            <input type="text" name="title" id="title" ng-model="comments.title" class="input input--text" />
        </div>
        <div class="form__field">
            <label class="form__label" for="message">Message</label>
            <textarea name="message" id="message" ng-model="comments.comment" class="input input--textarea" required></textarea>
            <p class="alert alert--warning" ng-show="(commentsForm.$submitted || commentsForm.message.$touched) && commentsForm.message.$error.required">Message is required.</p>
        </div>
        <div class="form__field">
            <button type="submit" ng-click="resetCommentsForm(commentsForm)" class="btn btn--primary btn--med rounded">Send</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>
</div>
<div class="layout__form spc--top--lrg" ng-if="comments.totalRecords">
    <hr />
    <h1 class="spc--bottom--lrg">Comments:</h1>
    <ul>
        <li ng-repeat="comment in comments.item">
            <div class="comment__container group">
                <ul class="comment__info">
                    <li ng-if="comment.title.length" class="comment__title">{{ comment.title }} - </li>
                    <li class="comment__author"><a ng-href="mailto:{{ comment.email }}">{{ comment.author }}</a></li>
                    <li>{{ comment.website }}</li>
                    <hr />
                    <li class="comment__message">{{ comment.comment }}</li>
                </ul>
                <hr />
                <div class="layout__form fade" ng-show="active">
                    <h2 class="spc--bottom--lrg">Add reply to comment</h2>
                    <form name="repliesForm{{ comment.id }}" novalidate class="form" ng-submit="saveReplies(comment, reply)">
                        <div class="form__field">
                            <label class="form__label" for="author">Name:</label>
                            <input type="text" name="author" id="author" ng-model="reply.author" class="input input--text" required />
                            <p class="alert alert--warning" ng-show="(repliesForm{{ comment.id }}.$submitted || repliesForm{{ comment.id }}.author.$touched) && repliesForm{{ comment.id }}.author.$error.required">Name is required.</p>
                        </div>
                        <div class="form__field">
                            <label class="form__label" for="email">Email address:</label>
                            <input type="email" name="email" id="email" ng-model="reply.email" class="input input--text" required />
                            <p class="alert alert--warning" ng-show="(repliesForm{{ comment.id }}.$submitted || repliesForm{{ comment.id }}.email.$touched) && repliesForm{{ comment.id }}.email.$error.required">Email is required.</p>
                            <p class="alert alert--warning" ng-show="(repliesForm{{ comment.id }}.$submitted || repliesForm{{ comment.id }}.email.$touched) && repliesForm{{ comment.id }}.email.$error.email">Please enter valid e-mail address.</p>
                        </div>
                        <div class="form__field">
                            <label class="form__label" for="message">Message</label>
                            <textarea name="message" id="message" ng-model="reply.reply" class="input input--textarea" required></textarea>
                            <p class="alert alert--warning" ng-show="(repliesForm{{ comment.id }}.$submitted || repliesForm{{ comment.id }}.message.$touched) && repliesForm{{ comment.id }}.message.$error.required">Message is required.</p>
                        </div>
                        <div class="form__field">
                            <button type="submit" class="btn btn--primary btn--med rounded" ng-disabled="repliesForm{{comment.id}}.$invalid" ng-class="{'btn--disabled' : repliesForm{{comment.id}}.$invalid}" ng-click="active=!active">Reply</button>
                            <button type="button" class="btn btn--light btn--med rounded" ng-click="active=!active">Cancel</button>
                        </div>
                        <div ng-show="error">
                            {{ error }}
                        </div>
                    </form>
                </div>
                <button ng-click="active=!active" ng-hide="active" class="btn btn--primary btn--med rounded">REPLY</button>
                <hr />
                <div class="comment__info--reply">
                    <ul ng-repeat = "reply in comment.replies">
                        <li class="comment__author"><a ng-href="mailto:{{ reply.email }}">{{ reply.author }}<span ng-if="!reply.author">Anonymous</span></a></li>
                        <li  class="comment__message">{{ reply.reply }}</li>
                        <hr />
                    </ul>

                </div>
            </div>
        </li>
    </ul>

    <pager pager-data="comments.pagerData" ng-show="pager.hasPrevious || pager.hasNext" class="pager pager--comments">
         <a ui-sref="master.blog-detail({ page: pager.currentPage - 1, id: blogPostComments })" class="btn btn--light btn--med rounded" ng-show="pager.hasPrevious">Prev</a>
        <a ui-sref="master.blog-detail({ page: pager.currentPage + 1, id: blogPostComments })" class="btn btn--light btn--med rounded" ng-show="pager.hasNext">Next</a>
    </pager>

</div>