<div class="spc--bottom--med">
    <a href="#" ng-click="active=!active" ng-hide="blog.allowComments == false">Reply</a>
</div>
<div class="fade " ng-show="active">
    <div class="comment__body comment--reply" >
        <h3 class="spc--bottom--med">Add reply to comment:</h3>
        <form name="repliesForm" novalidate class="form" ng-submit="saveReplies(comment, reply);">
            <div class="form__field">
                <div class="grid">
                    <label class="form__label col col--quad" for="author">Name:</label>
                    <input type="text" name="author" id="author" ng-model="reply.author" class="input input--text input--med col col--three-quarter" required />
                </div>
                <p class="alert alert--warning" ng-show="(repliesForm.$submitted || repliesForm.author.$touched) && repliesForm.author.$error.required">Name is required.</p>
            </div>
            <div class="form__field">
                <div class="grid">
                    <label class="form__label col col--quad" for="email">Email address:</label>
                    <input type="email" name="email" id="email" ng-model="reply.email" class="input input--text col col--three-quarter" required />
                </div>
                <p class="alert alert--warning" ng-show="(repliesForm.$submitted || repliesForm.email.$touched) && repliesForm.email.$error.required">Email is required.</p>
                <p class="alert alert--warning" ng-show="(repliesForm.$submitted || repliesForm.email.$touched) && repliesForm.email.$error.email">Please enter valid e-mail address.</p>
            </div>
            <div class="form__field">
                <div class="grid">
                    <label class="form__label col col--quad" for="message">Message</label>
                    <textarea name="message" id="message" ng-model="reply.reply" class="input input--textarea col col--three-quarter" required></textarea>
                </div>
                <p class="alert alert--warning" ng-show="(repliesForm.$submitted || repliesForm.message.$touched) && repliesForm.message.$error.required">Message is required.</p>
            </div>
            <div class="form__field">
                <button type="submit" class="btn btn--primary btn--med rounded" ng-disabled="repliesForm.$invalid" ng-class="{'btn--disabled' : repliesForm.$invalid}" ng-click="active=!active;">Reply</button>
                <button type="button" class="btn btn--light btn--med rounded" ng-click="active=!active">Cancel</button>
            </div>
            <div ng-show="error">
                {{ error }}
            </div>
        </form>
    </div>
</div>
<div class="comment__info--reply spc--top--med">
    <ul ng-repeat ="reply in replies" class="spc--bottom--med">
        <li>
            <div class="gravatar__container"><img gravatar-src="reply.email" class="gravatar"></div>
            <div>
                <a ng-href="mailto:{{ reply.email }}" class="comment__author comment__author--reply spc--bottom--sml"> {{ reply.author }}
                    <span ng-if="!reply.author">Anonymous</span>
                </a>
            </div>
        </li>
        <li>
            <div class="comment__message">{{ reply.reply }}</div>
        </li>
    </ul>

</div>