<div class="layout__form">
    <h1 class="spc--bottom--lrg">Comment:</h1>
    <form name="commentsForm" novalidate class="form">
        <div class="form__field">
            <label class="form__label" for="author">Name:</label>
            <input type="text" name="author" id="author" ng-model="comments.author" class="input input--text" required />
            <p class="alert alert--warning" ng-show="(commentForm.$submitted || commentForm.author.$touched) && commentForm.author.$error.required">Name is required.</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="email">Email address:</label>
            <input type="email" name="email" id="email" ng-model="comments.email" class="input input--text" required />
            <p class="alert alert--warning" ng-show="(commentForm.$submitted || commentForm.email.$touched) && commentForm.email.$error.required">Email is required.</p>
            <p class="alert alert--warning" ng-show="(commentForm.$submitted || commentForm.email.$touched) && commentForm.email.$error.email">Please enter valid e-mail address.</p>
        </div>
        <div class="form__field">
            <label class="form__label" for="title">Title</label>
            <input type="text" name="title" id="title" ng-model="comments.title" class="input input--text" />
        </div>
        <div class="form__field">
            <label class="form__label" for="message">Message</label>
            <textarea name="message" id="message" ng-model="comments.comment" class="input input--textarea" required></textarea>
            <p class="alert alert--warning" ng-show="(commentForm.$submitted || commentForm.message.$touched) && commentForm.message.$error.required">Message is required.</p>
        </div>
        <div class="form__field">
            <button type="submit" ng-click="saveComments()" class="btn btn--primary btn--med rounded">Send</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>
</div>
<div class="layout__form spc--top--lrg">
    <hr />
    <h1 class="spc--bottom--lrg">Comments:</h1>
    <ul>
        <li ng-repeat="comment in comments.item">
            <div class="comment__container group">
                <ul class="comment__info">
                    <li ng-if="comment.title.length" class="comment__title">{{ comment.title }}</li>
                    <li class="comment__author"><a ng-href="mailto:{{ comment.email }}">{{ comment.author }}</a></li>
                    <li>{{ comment.website }}</li>
                    <hr />
                    <li  class="comment__message">{{ comment.comment }}</li>
                </ul>
                <hr />
                <div class="layout__form fade" ng-show="Active">
                    <h2 class="spc--bottom--lrg">Add reply to comment</h2>
                    <form name="repliesForm" novalidate class="form" ng-submit="submitReply()">
                        <div class="form__field">
                            <label class="form__label" for="author">Name:</label>
                            <input type="text" name="author" id="author" ng-model="blog.comments.replies.user" class="input input--text" required />
                            <p class="alert alert--warning" ng-show="(replyForm.$submitted || replyForm.author.$touched) && replyForm.author.$error.required">Name is required.</p>
                        </div>
                        <div class="form__field">
                            <label class="form__label" for="email">Email address:</label>
                            <input type="email" name="email" id="email" ng-model="blog.comments.replies.email" class="input input--text" required />
                            <p class="alert alert--warning" ng-show="(replyForm.$submitted || replyForm.email.$touched) && replyForm.email.$error.required">Email is required.</p>
                            <p class="alert alert--warning" ng-show="(replyForm.$submitted || replyForm.email.$touched) && replyForm.email.$error.email">Please enter valid e-mail address.</p>
                        </div>
                        <div class="form__field">
                            <label class="form__label" for="message">Message</label>
                            <textarea name="message" id="message" ng-model="blog.comments.replies" class="input input--textarea" required></textarea>
                            <p class="alert alert--warning" ng-show="(replyForm.$submitted || replyForm.message.$touched) && replyForm.message.$error.required">Message is required.</p>
                        </div>
                        <div class="form__field">
                            <button type="submit" class="btn btn--primary btn--med rounded">Reply</button>
                            <button type="button" class="btn btn--light btn--med rounded" ng-click="Active=!Active">Cancel</button>
                        </div>
                        <div ng-show="error">
                            {{ error }}
                        </div>
                    </form>
                </div>
                <button ng-click="Active=!Active" ng-hide="Active" class="btn btn--primary btn--med rounded">REPLY</button>
                <hr />
                <div class="comment__info--reply">
                    <ul ng-repeat = "reply in comment.replies">
                        <li class="comment__author"><a ng-href="mailto:{{ reply.email }}">{{ reply.author }}</a><p ng-if="!reply.author.length">Anonymous</p></li>
                        <li></li>
                        <hr />
                        <li  class="comment__message">{{ reply.reply }}</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>