<section class="articles">
    <article 
        class="article article--ingrid" 
        ng-if="hasBlogs" 
        ng-repeat="blog in blogList.item" 
        ng-class=" { 'article--lrg': $first , 'article--sml': !$first } "
        
    >


            <div class="article__holder" style="background-image: url('{{ blog.featured }}')">
                <div class="article__content col col--third col--center">
                    <div class="article__aside">
                        <span class="meta__label ">{{ blog.startdate | date:'MMM' }}</span>
                        <span class="meta__label--lrg">{{ blog.startdate | date:'dd' }}</span>
                        <span class="meta__label">{{ blog.startdate | date:'EEE' }}</span>
                    </div>
                    <div class="article__main">
                        <span class="meta__label">{{ blog.type }}</span>
                        <h1 class="article__title spc--bottom--lrg"><a ui-sref="master.blog-detail({ slug: blog.slug })">{{ blog.title }}</a></h1>
                        <div ng-repeat="field in blog.customFields">
                            <div class="article__item spc--bottom--sml">
                                <h3>{{ field.customField}}</h3>
                                <small>{{ field.customFieldDesc }}</small>
                            </div>
                        </div>
                        <a class="btn btn--primary btn--med" ui-sref="master.blog-detail({ slug: blog.slug })">Read More </a>
                    </div>
                </div>
                <div class="article__overlay"></div>
            </div>
            



    </article>
    
    <article ng-if="!hasBlogs">
        <p>
            No blogs.
        </p>
    </article>

    <hr>
    
    <pager pager-data="pagerData" ng-show="pager.hasPrevious || pager.hasNext">
        <a ui-sref="master.main.index({ page: pager.currentPage - 1 })" ng-show="pager.hasPrevious">Prev</a>
        <a ui-sref="master.main.index({ page: pager.currentPage + 1 })" ng-show="pager.hasNext">Next</a>
    </pager>
</section>
