<div class="layout__form">
    <h1 class="spc--bottom--lrg">{{ isNew ? 'Add New' : 'Edit' }} Blog Post</h1>
    <form name="blogPost" novalidate class="form">
        <div class="form__field">
            <label class="form__label" for="fieldTitle">Title</label>
            <input class="input input--text" type="text" name="title" id="fieldTitle" ng-model="blog.title" required />
            <p ng-show="(blogPost.$submitted || blogPost.title.$touched) && blogPost.title.$error.required">Title is required.</p>
        </div>

        <div class="form__field">
            <label class="form__label" for="fieldBody">Featured image</label>
            <input class="input input--text" type="text" name="featured" id="fieldBody" ng-model="blog.featured" class="input input--text" />
        </div>
        <div class="form__field">
            <label class="form__label" for="fieldContent">Description</label>
            <textarea class="input input--textarea" placeholder="Type your text here..." name="content" id="fieldContent" ng-model="blog.content"></textarea>
        </div>
        <div class="cf">
            <div class="form__field--single">
                <label class="form__label" for="fieldStartDate">Start Date</label>
                <input class="input input--text" type="date" name="startdate" id="fieldStartDate" ng-model="blog.startdate"></textarea>
            </div>
        </div>
        <div class="cf spc--bottom--lrg">
            <div class="form__field--half">
                <label class="form__label" for="fieldStartTime">Start Time</label>
                <input class="input input--text" type="time" name="starttime" id="fieldStartTime" ng-model="blog.starttime"></textarea>
            </div>

            <div class="form__field--half">
                <label class="form__label" for="fieldEndTime">End Time</label>
                <input class="input input--text" type="time" name="endtime" id="fieldEndTime" ng-model="blog.endtime"></textarea>
            </div>
        </div>
        <div class="cf">
            <div class="form__field--single">
                <label class="form__label" for="fieldType">Type Of Event</label>
                <select class="input input--select" name="type" id="fieldType" ng-model="blog.type">
                    <option value="">---Please select---</option>
                    <option value="Concerte">Concerte</option>
                    <option value="Talk">Talk</option>
                    <option value="Conference">Conference</option>
                    <option value="Party">Party</option>
                    <option value="Fair">Fair</option>
                    <option value="Fair">Other</option>
                </select>
            </div>
        </div>
        <h2 class="spc--bottom--lrg">Performers</h2>
        <div ng-repeat="field in blog.customFields" class="form">
            <div class="form__field--half">
                <label class="form__label" for="fieldPerformer + {{$index}}">Performer</label>
                <input class="input input--text" type="text" name="title" id="fieldPerformer + {{$index}}" ng-model="field.customField" />
            </div>
            <div class="form__field--half form__field--grouped">
                <label class="form__label" for="fieldPerformerDesc + {{$index}}">First Performer Description</label>
                <input class="input input--text" type="text" placeholder="e.g. punk rock..." name="title" id="fieldPerformerDesc + {{$index}}" ng-model="field.customFieldDesc" />
                <button class="btn btn--remove form__field--btn" type="button" ng-click="removeCustomField($index)">x</button> 
            </div>   
        </div>
        <div class="spc--bottom--lrg">
            <button class="btn btn--primary btn--med"  type="button" ng-click="addCustomField()">Add Performer</button>                      
        </div>


        <div class="cf">
            <div class="form__field">
                <label class="form__label" for="fieldPrice">Ticket Price</label>
                <input class="input input--price" type="number" name="price" id="fieldPrice" ng-model="blog.price"></textarea>
            </div>
        </div>
        <hr>
        <div class="form__field">
            <tags-input ng-model="blog.tags" display-property="tag" add-on-comma="true">
                <auto-complete source="loadTags($query)">
                </auto-complete>
            </tags-input>
        </div>

    <hr> 
        <div class="form__field">
            <button class="btn btn--primary btn--med" type="submit" ng-click="saveBlog()">Save</button>
            <button class="btn btn--secondary btn--med" type="button" ng-click="cancelEdit()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>
</div>