/*------------------------------------*\
    # base.globals
\*------------------------------------*/

html {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);

    height: 100%;
}
body {
    font-family: var(--ff-serif);
    min-width: 20em;
    background: var(--color-bodybg);
    color: var(--color-dark);
    position: relative;

    height: 100%;
}

.row {
    max-width: 60em;
    margin: 0 auto;
}
img, object, iframe {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}