/*------------------------------------*\
    # components.editor
\*------------------------------------*/

.editor__field {
    display: inline-block;
    width: 100%;
    cursor: text;
    border: 1px solid var(--color-ultralight);
    background: white;
    transition: all .2s;
    height: 35rem;
    padding: 1rem;
    overflow: auto; 
    resize: none;
}


.editor__field:focus {
    outline: 0;
    border-color: var(--color-light);
}

.editor__preview h1,
.editor__preview h2,
.editor__preview h3,
.editor__preview h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.editor__field::placeholder { 
    color: var(--color-light);
    font-family: var(--ff-serif);

}
.editor__header {
    margin-bottom: 1rem;
    text-align: right;
}
.editor__header button {
    margin-left: 0.5rem;
}
.editor__explain {
    display: block;
    text-align: left;
    color: var(--color-light);
    margin-bottom: 1rem;
}

@media all and (--from-medium) {
    .editor__type {
        width: 49%;
        float: left;
        margin-right: 1%;
    }
    .editor__preview {
        width: 50%;
        float: right;
    }
    .editor__header {
        height: 4rem;
    }
}