/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    margin: 0 0 3rem 1.5rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    color: var(--color-light);
}

@media all and (--from-large) {
    .footer {
        position: absolute;
        width: 100%;
        bottom: 3rem;
        right: 0;
        margin: 6rem 0 1.5rem 0;
        padding: 0 3rem;
        overflow: hidden;
    }
    .footer__info {
    }
    .footer__poweredby {
    }
}