/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {
    display: flex;
    flex-wrap: wrap;
}
.article {}

.article--ingrid {
    display: flex;
}
.article--sml {
    width: 100%;
}
.article--lrg {
    width: 100%;
}
.article--lrg .article__content {
    background: white;
}

.article__holder {
    position: relative;
    overflow: hidden;
    transition: all .15s;
}
.article__figure {
}
.article__header {
}
.article__title {
    margin-bottom: 0.75rem;
}
.article__title__link {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-medium);
    font-weight: var(--type-regular);
    line-height: calc(var(--base-line-height)*1.25);
    color: var(--color-dark);
}
.article__cat {
    display: block;
    margin-bottom: .75rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}
.article__date {
    display: block;
    margin-bottom: 1.5rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}
.article__content {
    overflow: hidden;
    padding: 2rem 2rem 5rem 2rem;
    transition: background .1s ease-in-out;
}
.article__summary {
    margin-bottom: 1.5rem;
    color: var(--color-grey);
}
.article__info {
    overflow: hidden;
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    right: 2rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-light);
}
.article__readmore {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
}
.article__readingtime {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
}
@media all and (--from-mediumsmall) {
    .articles {
        margin: 1.5rem 0.75rem 0 0.75rem;
    }
    .article {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-bottom: 1.5rem;
    }
    .article--sml {
        width: 50%;
    }
    .article--lrg {
        width: 50%;
    }
}
@media all and (--from-xlarge) {
    .articles {
        margin: 3rem 1.5rem 0 0.75rem;
    }
    .article--ingrid {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 3rem;
    }
    .article--sml {
        width: 33.333%;
    }
    .article--lrg {
        width: 66.666%;
    }
    .article--lrg .article__content {
        padding-right: 3rem;
    }
    .article--lrg .article__header {
        float: left;
        width: 45%;
        margin-right: 10%;
    }
    .article--lrg .article__summary {
        float: left;
        width: 45%;
    }
    .article--lrg .article__info {
        right: 3rem;
    }
}