/*------------------------------------*\
    # components.nav
\*------------------------------------*/

.nav {}
.nav--primary {}
.nav--primary__item {
    display: block;
    margin-right: .35rem;
    margin-bottom: .35rem;
    float: left;

}
.nav--primary__link {
    display: block;
    position: relative;
    color: var(--color-grey);
    font-family: var(--ff-sans);
    font-size: var(--type-small);
    line-height: calc(var(--base-line-height)*1.5);
    border: 1px solid var(--color-ultralight);
    text-align: center;
    padding: 0 1rem;
    border-radius: 10rem;
}
.nav--primary__link:hover,
.nav--primary__link:focus,
.nav--primary__link:active {
    border: 1px solid var(--color-primary);
}

@media all and (--to-large) {
    .nav--primary__link {
        font-size: var(--type-large);
        line-height: calc(var(--base-line-height)*2.5);
    }
}

@media all and (--from-large) {

    .nav--primary__link:hover,
    .nav--primary__link:focus,
    .nav--primary__link:active {
    }
    .nav--primary__link--active {
        color: var(--color-primary);
        font-weight: var(--type-bold);
    }
}