/*------------------------------------*\
    # components.form
\*------------------------------------*/

.form {
}
.form__field {
    margin-bottom: 1.5rem;
}
.form__label {
    font-family: var(--ff-sans);
    font-size: var(--type-small);
    margin-bottom: .75rem;
    display: block;
    color: var(--color-light);
}