/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    margin: 1.5rem 0 0 1.5rem;
    padding: 3rem 0;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    color: var(--color-light);
}

@media all and (--from-large) {
    .footer {
        margin: 6rem 0 1.5rem 0;
        padding: 3rem;
        overflow: hidden;
    }
    .footer__info {
        float: left;
    }
    .footer__poweredby {
        float: right;
    }
}