/*------------------------------------*\
    # plugins.tageditor
\*------------------------------------*/

tags-input .tags {
    border: 0;
    box-shadow: none;
    padding: .5rem;
}
tags-input .tags .tag-item {
    background: #f5f5f5;
    border-color: #ddd;
}
tags-input .tags .input span {
    font-size: 12px;
}
tags-input .tags .tag-item.selected {
    background: var(--color-warning);
    color: white;
    border: 1px solid var(--color-warning);
}

tags-input .tags .input {
    width: 100px !important;
}

tags-input .tags .input::placeholder {
    font-size: 12px;    
}
