/*------------------------------------*\
    # plugins.tageditor
\*------------------------------------*/

tags-input .tags {
    border: 0;
    box-shadow: none;
}
tags-input .tags .tag-item {
    background: #f5f5f5;
}
tags-input .tags .input span {
    font-size: 12px;
}