/*------------------------------------*\
    # components.comments
\*------------------------------------*/

.comment {}
.comment__container {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
}
.comment__info {}
.comment__info--reply {
    padding-left: 5rem;
}
.comment__author {
    display: inline-block;
}
.comment__title {
    display: inline-block;
}
.comment__message {
    width: 100%;
}