/*------------------------------------*\
    # components.comments
\*------------------------------------*/

.comment {}
.comment__body {
    margin: 0 auto 2rem auto;
    padding: 0 1.5rem;
    max-width: 48em;
}
.comment__body--replies {
    padding-left: 3rem;
}
.comment__container {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
}
.comment__info {}
.comment__info--reply {
    padding-left: 3rem;
}
.comment__author {
    line-height: 3rem;
}
.comment__title {
    display: inline-block;
}
.comment__message {
    width: 100%;
    margin: 1.5rem 0;
}