/*------------------------------------*\
    # components.gravatar
\*------------------------------------*/

.gravatar {
    border-radius: 50%;
    width: 3rem;
    height: auto;
}
.gravatar__container {
    display: block;
    float: left;
    margin-right: 1rem;
}