/*------------------------------------*\
    # components.gravatar
\*------------------------------------*/

.gravatar {
    border-radius: 50%;
    width: 2rem;
}
.gravatar__container {
    display: block;
    float: left;
    margin: 0.25rem 1rem 0 0;
}