/*------------------------------------*\
    # components.comments
\*------------------------------------*/

.comment {}
.comment__body {
    font-family: var(--ff-sans);
    font-size: 0.875rem;
    margin: 0 auto 2rem auto;
    padding: 0 1.5rem;
    max-width: 48rem;
    color: #5b5b5b;
}
.comment__body--replies {
    padding-left: 3rem;
}
.comment__container {
    border-top: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
}
.comment__form__title--reply {
    margin-bottom: 1.5rem;
    padding-top: 2rem;
}
.comment__info {}
.comment__info--reply {
    padding-left: 3rem;
}
.comment__author {
    line-height: 1rem;
}
.comment__title {
    line-height: 0.75rem;
    font-size: 0.75rem;
    opacity: 0.7;
}
.comment__message {
    width: 100%;
    margin: 1.5rem 0;
    color: #5b5b5b;
}
.input {
    padding: 0.5rem;
}

/*ngAnimate classes for replies form*/
.fade {
  transition: all 0.5s ease-in-out;
  max-height: 40rem;
  opacity: 1;
}
.fade.ng-hide {
    max-height: 0px;
    opacity: 0;
}