/*------------------------------------*\
    # components.pager.css file
\*------------------------------------*/


/**
* Pager
*/

pager {
    width: 100%;
}
pager>a.link {
    text-decoration: none;
    color: #FFF;
}

pager>a.link>span {
    padding: 0 .5rem;
}