/*------------------------------------*\
    # components.form
\*------------------------------------*/

.form{
    max-width: 98%;
}
.preview__editor {
    height: 28rem;
    word-break: break-all;
    border: 1px solid #eee;
    padding: 1rem;
}
.preview__view {
    height: 28rem;
    word-break: break-all;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #eee;
}
.preview__syntax {
    height: 28rem;
    overflow: auto;
    overflow-y: scroll;
    word-break: keep-all;
    border: 1px solid #eee;
    padding: 1rem;
}