/* ==========  FADE-IN  ========== */
/**
* Fade-in effect
*/
body {
    opacity: 0;
    animation: fadeIn ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeIn { 
	from { 
		opacity:0; 
		} 
	to { 
		opacity:1; 
	} 
}
