/*------------------------------------*\
    # util.order
\*------------------------------------*/
.box--primary {
	order: 1;
}
.box--secondary {
	order: 2;
}
.box--tertiary {
	order: 3;
}
.box--quartenary {
    order: 4;
}
@media (max-width:35rem) {
    .box--primary {
        order: 2;
    }
    .box-secondary {
        order: 1;
    }
}