/*------------------------------------*\
    # base.container
\*------------------------------------*/

.container {
    margin: 0 auto;
    max-width: 80rem;
}
.container__fixed {
    height: 100%;
}
.container__main {
    min-height: 100%;
}
@media all and (--from-large) {
    .container {}
}