/*------------------------------------*\
    # base.container
\*------------------------------------*/

.container {
    position: relative;
    margin: 0 auto;
    max-width: 80rem;
    z-index: 5;
}
.container__main {
    min-height: 100%;
}