/*------------------------------------*\
    # components.toggle
\*------------------------------------*/

.menu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    left: -4rem;
    top: 1.75rem;
    width: 2rem;
    height: 2rem;
}
@media all and (--from-medium) {
    .menu-toggle {
      left: -6rem;
    }
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  top: 10px;
  display: block;
  content: '';
}
.menu-toggle span:before {
  top: -10px;
}
.menu-toggle span:after {
  bottom: -20px;
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  transition: all 500ms ease-in-out;
}
.menu-toggle.nShow span {
  background-color: transparent;
}
.menu-toggle.nShow span:before,
.menu-toggle.nShow span:after {
  top: 0;
}
.menu-toggle.nShow span:before {
  transform: rotate(45deg);
  background-color: var(--color-tertiary);
}
.menu-toggle.nShow span:after {
  transform: rotate(-45deg);
  background-color: var(--color-tertiary);
}