/*------------------------------------*\
    # components.search
\*------------------------------------*/

.search {}
.search__icon {
    background: url(./assets/img/search.svg) no-repeat center center;
    position: absolute;
    top: -0.2rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
}
@media all and (--from-mediumsmall) {
    .search__icon {
        top: 0.5rem;
    }
}
.search__icon:hover {
    background: url(./assets/img/search-o.svg) no-repeat center center;
}
.search__wrapper {
    display: none;
    position: fixed;
    z-index: 4;
    top: 10rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
}
@media all and (--from-mediumsmall) {
    .search__wrapper {
        display: block;
        position: relative;
        float: right;
        top: 0.35rem;
        width: 13rem;
        right: 1rem;
    }
}
.search__image {
    min-width: 100%;
    height: 5rem;
    display: block;
}
@media all and (--from-mediumsmall) {
    .search__image {
        min-width: 30%;
        height: auto;
    }
}
.search__field {
    width: 90%;
    padding-left: .5rem;
    border: none;
    color: var(--color-ultralight);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    letter-spacing: 0.015rem;
    text-transform: uppercase;
}
@media all and (--from-mediumsmall) {
    .search__field {
        width: 10rem;
        margin: .9rem 2.5rem .5rem .5rem;
    }
}
.search__field::-webkit-input-placeholder {
   color: var(--color-ultralight);
   font-size: var(--base-font-size);
   text-transform: uppercase;
}
.search__field:-moz-placeholder { /* Firefox 18- */
   color: var(--color-ultralight);
   font-size: var(--base-font-size);
   text-transform: uppercase;
}
.search__field::-moz-placeholder {  /* Firefox 19+ */
   color: var(--color-ultralight);
   font-size: var(--base-font-size);
   text-transform: uppercase;
}
.search__field:-ms-input-placeholder {
   color: var(--color-ultralight);
   font-size: var(--base-font-size);
   text-transform: uppercase;
}
.search__result {
    margin: 2rem 0;
    padding-bottom: 3rem;
    width: 100%;
    background-color: var(--color-light);
    display: block;
}
@media all and (--from-mediumsmall) {
    .search__result {
        display: flex;
        padding: 0;
    }
}
.search__article {
    padding: 1rem;
}
