/*------------------------------------*\
    # components.logo
\*------------------------------------*/

.logo {
    height: 3rem;
    opacity: .7;
    margin: 1rem 0 0 0.5rem;
    transition: opacity .3s ease-in-out;
}
.logo:hover,
.logo__link:focus > .logo {
   opacity: 1;
}