/*------------------------------------*\
    # components.search
\*------------------------------------*/

.search {
    position: relative;
    border: 2px solid var(--color-light);
}
@media all and (--from-large) {
    .search {
        margin-bottom: 1rem;
        border: 0;
    }
}
.search__result {
    position: relative;
    margin-bottom: 2rem;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--color-light);
}
.search__result__image {
    margin: -1.5rem 1rem -1.5rem -1.5rem;
    height: auto;
    max-width: 10rem;
    display: block;
    float: left;
}
@media all and (--from-mediumsmall) {
    .search__result__image {
        min-width: 30%;
        height: auto;
    }
}
.search__date {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}