/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0px auto;
}
@media all and (--from-mediumsmall){
    .articles {
        margin: 0 auto;
    }
}
.article--sml {
    width: 100%;
    margin: 1rem 0;
}
.article--ingrid {
    display: flex;
}
@media all and (--from-mediumsmall) {
    .article--ingrid {
       width: calc(50% - 2rem);
       margin: 1rem;
    }
}
@media all and (--from-large) {
    .article--ingrid {
       width: calc(33.33% - 2rem);
       margin: 1rem;
    }
}
.article--lrg {
    width: 100%;
    min-height: 330px;
    margin-bottom: 1rem;
}
@media all and (--from-large) {
    .article--lrg {
        width: calc(66.66% - 2rem);
        min-height: 400px;
    }
}
@media all and (--from-mediumsmall) {
    .article--lrg .article__content {
        position: absolute;
        bottom: 0;
    }
}
.article__holder {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    z-index: 1;
    background-color: var(--color-light);
}
.article__image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}
@media all and (--from-mediumsmall) {
    .article__image {
        height: 250px;
    }
}

.article__title {
    margin-bottom: 0.75rem;
    position: relative;
    z-index: 2;
}
.article__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0);
    transition: all .3s ease-in-out;
}
.article__link:hover,
.article__link:focus {
    background: rgba(255,255,255,0.25);
}
.article__title__link {
    display: block;
    font-family: var(--ff-sans);
    font-weight: var(--type-bold);
    font-size: var(--type-large);
    line-height: calc(var(--base-line-height)*1.2);
    color: var(--color-primary);
}
@media all and (--from-large) {
    .article__title__link {
        font-size: var(--type-xlarge);
        line-height: calc(var(--base-line-height)*1.35);
    }
}
.article__title__link--first {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-large);
    font-weight: var(--type-bold);
    line-height: calc(var(--base-line-height)*1.2);
    color: var(--color-ultralight);
}
@media all and (--from-large) {
    .article__title__link--first {
        font-size: var(--type-xlarge);
        line-height: calc(var(--base-line-height)*1.35);
    }
}
.article__title__link:hover,
.article__title__link:focus,
.article__title__link--first:hover,
.article__title__link--first:focus {
    color: var(--color-secondary);
}
.article__date {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .025rem;
    line-height: calc(var(--base-line-height)*0.7);
    color: var(--color-tertiary);
    margin-bottom: .5rem;
}
.article__date--first {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    letter-spacing: .025rem;
    line-height: calc(var(--base-line-height)*0.7);
    margin-bottom: .5rem;
    color: var(--color-ultralight);
}
.article__content {
    overflow: hidden;
    padding: 2rem 2rem 4rem 2rem;
}

.article__content--first {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;
    background: rgba(0,0,0,0.5);
}
@media all and (--to-mediumsmall) {
    .article__content--first {
        top: 0;
        padding: 2rem 2rem;
    }
}
.article__summary {
    font-size: var(--type-base);
    margin-bottom: 1.5rem;
}
.article__summary--first {
    font-size: var(--type-base);
    margin-bottom: 1.5rem;
    color: white;
}
@media all and (--from-xlarge) {
    .article__summary {
        float: left;
    }
}
.article__info {
    overflow: hidden;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-light);
}
.article__readmore {
    display: inline-block;
    vertical-align: middle;
}
@media all and (--from-xlarge) {
    .article--lrg .article__header {
        float: none;
    }
    .article__summary {
        float: left;
    }
}