/*------------------------------------*\
    # components.navbar
\*------------------------------------*/

.navbar {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem .5rem;
    letter-spacing: 0.015rem;
}
.navbar__link__holder {
    font-size: var(--type-large);
    line-height: var (--base-line-height);
    margin: 1rem;
}
@media all and (--from-mediumsmall) {
    .navbar__link__holder {
        display: inline-block;
        padding: .9rem .45rem;
        margin: 0;
    }
}
.navbar__link {
    color: var(--color-ultralight);
    font-family: var(--ff-sans);
    text-transform: uppercase;
    font-weight: var(--type-bold);
    padding: 0;
}
@media all and (--from-mediumsmall){
    .navbar__link {
        font-size: var(--type-base);
        line-height: var(--base-line-height);
        padding: 2.5rem  0.5rem 0.5rem 0.5rem;
        background-color: transparent;
    }
}
.navbar__link:after{
    display:block;
    content:"\2015";
}
@media all and (--from-mediumsmall) {
    .navbar__link:after {
        display: none;
    }
}
.navbar__link:hover {
    color: var(--color-secondary);

}
@media all and (--from-mediumsmall) {
    .navbar__link:hover {
        color: var(--color-secondary);
        background-color: var(--color-ultralight);
    }
}
.navbar__nav {
    display:none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: color( var(--color-primary) alpha(95%));
}
@media all and (--from-mediumsmall) {
    .navbar__nav {
        display: inline-block;
        position: relative;
        background-color: transparent;
    }
}