/*------------------------------------*\
    # components.toggle
\*------------------------------------*/

.menu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.75rem;
    width: 3rem;
    height: 2rem;
    transition: transform .4s ease-in-out;
}
@media all and (--from-medium) {
    .menu-toggle {

    }
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--color-secondary);
  position: absolute;
  top: 10px;
  display: block;
  content: '';
}
.menu-toggle span:before {
  top: -10px;
}
.menu-toggle span:after {
  bottom: -20px;
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  transition: all .45s ease-in-out;
}
.menu-toggle.nShow span,
.menu-toggle.nShow span:before,
.menu-toggle.nShow span:after {
  background-color: transparent;

}
.menu-toggle.nShow {
    transform: translateX(-240px);
}
@media all and (--from-mediumsmall) {
    .menu-toggle.nShow {
        transform: translateX(-310px);
    }
}
@media all and (--from-medium) {
    .menu-toggle.nShow {
        transform: translateX(-410px);
    }
}
.menu-toggle.nShow span:before,
.menu-toggle.nShow span:after {
  top: 0;
}
.menu-toggle.nShow span:before {
  transform: rotate(45deg);
  background-color: var(--color-tertiary);
}
.menu-toggle.nShow span:after {
  transform: rotate(-45deg);
  background-color: var(--color-tertiary);
}