/*------------------------------------*\
    # components.pager
\*------------------------------------*/

.pager {
    overflow: hidden;
    display: block;
    padding: .5rem .5rem 1rem .5rem;
    width: 100%;
}
@media all and (--from-medium) {
    .pager {
        padding: .5rem .5rem 1rem .5rem;
    }
}