/*------------------------------------*\
    # components.article
\*------------------------------------*/

.articles {
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0 auto;
}
.article {}
.article--lrg {
    width: 100%;
    min-height: 21.88rem;
    margin: 1rem 0;
}
@media all and (--from-mediumsmall) {
    .article--lrg {
        width: calc(100% - 2rem);
        margin: 1rem;
    }
}
@media all and (--from-large) {
    .article--lrg {
        width: calc(66.66% - 2rem);
    }
}
.article--sml {
    width: 100%;
    margin: 1rem 0;
    background-color: var(--color-light);
}
@media all and (--from-mediumsmall) {
    .article--sml {
        margin: 1rem;
    }
}
@media all and (--from-medium) {
    .article--sml {
        width: calc(50% - 2rem);
    }
}
@media all and (--from-large) {
    .article--sml {
        width: calc(33.33% - 2rem);
    }
}
.article--sml--image {
    width: 100%;
    height: auto;
}
.article__featured__image {
    background-size: cover;
    background-position: 50% 50%;
}
.article__content--lrg {
    width: 100%;
    padding: 1.5rem;
    margin: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,.3) 100%);
}
.article__content--sml {
    padding: 1.5rem 1.5rem 5rem 1.5rem;
}
.article__date__readingtime {
    letter-spacing: 0.05rem;
    font-size: var(--type-tiny);
}
@media all and (--from-medium) {
    .article__date__readingtime {
        font-size: var(--type-small);
    }
}
.article__date__readingtime--primary {
    color: var(--color-light);
}
.article__date__readingtime--secondary {
    color: var(--color-tertiary);
}
.article__date__readingtime--tertiary {
    color: var(--color-secondary);
}
.article__title {
    font-size: var(--type-medium);
    line-height: var(--base-line-height);
}
@media all and (--from-medium) {
    .article__title {
        font-size: var(--type-large);
        line-height: calc(var(--base-line-height)*1.25);
    }
}
.article__title--primary {
    color: var(--color-ultralight);
}
.article__summary__text {
    font-size: var(--type-small);
    margin-top: 0.5rem;
}
@media all and (--from-medium) {
    .article__summary__text {
        font-size: var(--type-base);
    }
}
.article__summary__text--primary {
    color: var(--color-light);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
}
.article__readmore {
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
}