/*------------------------------------*\
    # components.hamburger
\*------------------------------------*/

.hamburger {
    position: relative;
    width: 1.5rem;
    height: 2rem;
    background-color: transparent;
    z-index: 4;
}
.hamburger--transformed {
    position: fixed;
    right: .5rem;
}
.hamburger:hover::before, .hamburger:hover::after, .hamburger:hover .hamburger__middle {
    background-color: var(--color-secondary);
}
.hamburger:hover .hamburger__middle--transformed {
    background-color: transparent;
}
.hamburger::before, .hamburger__middle, .hamburger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .25rem;
    background-color: var(--color-ultralight);
    transition: all .2s ease-in-out;
}
.hamburger::before {
    top: .5rem;
}
.hamburger__middle {
    top: 1rem;
}
.hamburger::after{
    top: 1.5rem;
}
.hamburger--transformed::before {
    top: 1rem;
    transform: rotate(45deg);
}
.hamburger__middle--transformed {
    transform: translateX(-3rem);
    background: transparent;

}
.hamburger--transformed::after{
    top: 1rem;
    transform: rotate(-45deg);
}
@media all and (--from-mediumsmall) {
    .hamburger {
        display: none;
    }
}