/*------------------------------------*\
    # components.nav
\*------------------------------------*/

.nav {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    letter-spacing: 0.015rem;
}
.nav__wrapper {
    margin-top: 0.75rem;
}
.nav__links__wrapper {
    margin: 0;
    display: none;
}
@media all and (--from-mediumsmall) {
    .nav__links__wrapper {
        display: inline;
        visibility: visible;
    }
}
.nav__link__holder {
    font-size: var(--type-large);
    line-height: var(--base-line-height);
    margin: 1rem;
}
@media all and (--from-mediumsmall) {
    .nav__link__holder {
        display: inline-block;
        padding: 0rem .45rem;
        margin: 0;
    }
}
.nav__link {
    color: var(--color-ultralight);
    font-family: var(--ff-sans);
    font-size: var(--type-small);
    line-height: var(--base-line-height);
    text-transform: uppercase;
    font-weight: var(--type-bold);
    background-color: transparent;
    padding: 0 .25rem;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--color-secondary);
}
@media all and (--from-mediumsmall) {
    .nav__link:hover,
    .nav__link:focus {
        padding: 3rem .25rem 0 .25rem;
        background: var(--color-ultralight);

    }
}
.nav__overlay {}

@media all and (--to-mediumsmall) {
    .nav__overlay {
        display:none;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        height: 120vh;
        width: 100%;
        background-color: color( var(--color-primary) alpha(95%));
    }
}