/*------------------------------------*\
    # components.tags
\*------------------------------------*/
.tags {
    width: 100%;
}
.tags__item {
    display: inline-block;
}
.tags__link {
    display: inline-block;
    position: relative;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0 0.5rem ;
    text-decoration: none;
    font-size: var(--type-tiny);
    height: 1.5rem;
    transition: all 0.4s ease-in-out;
}

.tags__link--primary {
    background: var(--color-secondary);
    color: var(--color-ultralight);
}

.tags__link--primary:hover,
.tags__link--primary:focus,
.tags__link--primary:active {
    background-color: var(--color-primary);
    color: white;
}
.tags__link--secondary {
    background: var(--color-ultralight);
    color: var(--color-primary);
}
.tags__link--secondary:hover,
.tags__link--secondary:focus,
.tags__link--secondary:active {
    background-color: var(--color-secondary);
    color: white;
}
.taglist {
    width: 100%;
}
.taglist--footer {
    width: 100%;
}
@media all and (--from-medium){
    .taglist--footer {
        width: 70%;
        margin-right: 0.5%;
    }
}

