/*------------------------------------*\
    # components.toggle
\*------------------------------------*/

.menu-toggle {
    position: relative;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2rem;
    transition: transform .4s ease-in-out;
}
@media all and (--from-medium) {
    .menu-toggle {

    }
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--color-secondary);
  position: relative;
  top: 10px;
  display: block;
  content: '';
}
.menu-toggle span:before {
  top: -10px;
}
.menu-toggle span:after {
  top: 5px;
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  transition: all .45s ease-in-out;
}
.menu-toggle.nShow span,
.menu-toggle.nShow span:before,
.menu-toggle.nShow span:after {
  background-color: transparent;

}
.menu-toggle.nShow {
    transform: translateX(-270px);
}
@media all and (--from-mediumsmall) {
    .menu-toggle.nShow {
        transform: translateX(-340px);
    }
}
@media all and (--from-medium) {
    .menu-toggle.nShow {
        transform: translateX(-440px);
    }
}
@media all and (--from-xlarge) {
    .menu-toggle.nShow {
        transform: translateX(-120px);
    }
}
.menu-toggle.nShow span:before {
  top: 5px;
}
.menu-toggle.nShow span:after {
  top: 0;
}
.menu-toggle.nShow span:before {
  transform: rotate(45deg);
  background-color: var(--color-tertiary);
}
.menu-toggle.nShow span:after {
  transform: rotate(-45deg);
  background-color: var(--color-tertiary);
}