/*------------------------------------*\
    # modules.loader
\*------------------------------------*/

@keyframes spinneranimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    padding-top: 6rem;
    opacity: 1;
    transition: all .5s;
}

.loader.ng-hide {
    opacity: 0;
    display: block !important;
    visibility: hidden;
}

.loading__content {}

.loading__message {
    font-size: var(--type-small);
    font-family: var(--ff-sans);;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: .1em;
    text-align: center;
 }

 .loader__spinner {
  position: relative;
  border: 6px solid #ececec;
  max-width: 126px;
  padding: 10px 10px 8px 10px;
  margin: 0 auto 1.5rem auto;
}
.loader__spinner > div {
  background-color: var(--color-light);
  height: 38px;
  width: 10px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1s infinite ease-in-out;
}

.loader__spinner .loaderL {
  margin-right: 15px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.loaderL:after,.loaderEx {
  height: 8px;
  width: 15px;
  left: 10px;
  bottom: 0px;
  content: '';
  background: var(--color-light);
  position: absolute;
}

.loader__spinner .loaderI {
  -webkit-animation-delay: -0.85s;
  animation-delay: -0.85s;
}

.loader__spinner .loaderF {
  margin-right: 15px;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.loader__spinner .loaderE {
  -webkit-animation-delay: -0.55s;
  animation-delay: -0.55s;
}
.loaderF:before, .loaderE:before {
  height: 8px;
  width: 15px;
  left: 10px;
  top: 0;
  content: '';
  background: var(--color-light);
  position: absolute;
}
.loaderF:after, .loaderE:after {
  height: 8px;
  width: 10px;
  left: 10px;
  top: 15px;
  content: '';
  background: var(--color-light);
  position: absolute;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(1)
  }
  20% {
    -webkit-transform: scaleY(1.8)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.8);
  }
}