/*------------------------------------*\
    # plugins.tageditor
\*------------------------------------*/

tags-input .tags {
    box-shadow: none;
    border: 0;
}
tags-input .tags .tag-item {
    background: var(--color-primary);
    color: var(--color-ultralight);
    font-family: var(--ff-sans);
    font-size: 1rem;
    border: 0;
}
tags-input .tags .tag-item.selected {
    background: var(--color-tertiary);
    color: white;
}
tags-input .tags .input {
    width: 100px !important;
}
tags-input .tags .input::placeholder {
    font-size: 0.9rem;
}
tags-input .tags.focused {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
}
tags-input .tags .tag-item .remove-button {
    color: var(--color-secondary);
}
tags-input .tags .tag-item.selected .remove-button {
    color: var(--color-ultralight);
}