/*------------------------------------*\
    # plugins.tageditor
\*------------------------------------*/

tags-input .tags {
    border: 2px solid var(--color-semilight);
    padding: .5rem;
    box-shadow: 0px 0px 0px 0px;
    transition: border .3s ease-in-out;
}
tags-input .tags:hover,
tags-input .tags.focused {
    border-color: var(--color-grey);
    box-shadow: 0px 0px 0px 0px;
}

tags-input .tags .tag-item {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-ultralight);
}
tags-input .tags .input span {
    font-size: 12px;
}
tags-input .tags .tag-item.selected {
    background: var(--color-tertiary);
    color: white;
    border: 1px solid var(--color-tertiary);
}
tags-input .tags .input {
    width: 100px !important;
}
tags-input .tags .input::placeholder {
    font-size: 12px;
}

tags-input .tags .tag-item .remove-button {
    color: var(--color-ultralight);
}
