/*------------------------------------*\
    # util.floats
\*------------------------------------*/
@media all and (--from-small) {
    .push {
        float: right;
    }
    .pull {
        float: left;
    }
}
.center {
    text-align: center;
}