/*------------------------------------*\
    # util.displays
\*------------------------------------*/

.block {
    display: block;;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.none {
    display: none;
}