/*------------------------------------*\
    # components.layout
\*------------------------------------*/


@media all and (--from-large) {
    .layout {
        display: flex;
        flex-direction: row-reverse;
    }
    .layout__sidebar {
        flex: 1 0 0;
        position: relative;
        background: white;
    }
    .layout__content {
        flex: 3 0 0;
        max-width: 100rem;
    }
}
.layout__form {
    max-width: 1024px;
    margin: 100px auto 0 auto;

}