/*------------------------------------*\
    # components.styledtext
\*------------------------------------*/

.styledtext h1, 
.styledtext h2, 
.styledtext h3, 
.styledtext h4, 
.styledtext h5, 
.styledtext h6 {
    font-weight: var(--type-bold);
    font-family: var(--ff-sans);
}
.styledtext p, 
.styledtext ul, 
.styledtext dl, 
.styledtext ol, 
.styledtext table, 
.styledtext object, 
.styledtext cite, 
.styledtext section, 
.styledtext header, 
.styledtext pre {
    margin-bottom: 1rem;
}
.styledtext ul, 
.styledtext ol {
}
.styledtext pre {
}
.styledtext pre code {
}
.styledtext em {
}
.styledtext img + em {
}   
.styledtext blockquote {
}
.styledtext blockquote:before {
}
.styledtext blockquote > p {
}

        