<div>
    <h1>Password Recovery</h1>
    <form name="passwordRecoveryForm" novalidate ng-submit="vm.recoverPassword()">
        <div>
            <div>
                <label for="userName">Username</label>
                <input type="text" id="userName" name="userName" ng-model="vm.recoveryData.userName" required placeholder="Enter your username" />
                <div ng-show="passwordRecoveryForm.$submitted || passwordRecoveryForm.userName.$touched">
                    <p ng-show="passwordRecoveryForm.userName.$error.required">Username is required.</p>
                </div>
            </div>
        </div>
        <div baasic-recaptcha></div>
        <div>
            <button type="submit">Send</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>