<div>
    <h1>Password Change</h1>
    <form name="passwordChangeForm" novalidate ng-submit="vm.changePassword()">
        <div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ng-model="vm.resetData.newPassword" required placeholder="Password" autocomplete="off" />
                <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
                    <p ng-show="passwordChangeForm.password.$error.required">Password is required.</p>
                </div>
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.resetData.confirmPassword" required placeholder="Confirm Password" autocomplete="off" />
                <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched">
                    <p ng-show="passwordChangeForm.confirmPassword.$error.required">Confirm Password is required.</p>
                    <p ng-show="passwordChangeForm.confirmPassword.$viewValue != '' && (passwordChangeForm.password.$viewValue != passwordChangeForm.confirmPassword.$viewValue)">Password and Confirm Password do not match.</p>
                </div>
            </div>
        </div>
        <div>
            <button type="submit">Change</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>