<div class="header header--home">
    <div class="header header--gradient">
        <blog-menu></blog-menu>
    </div>
</div>
<div class="articles">
    <article ng-if="$first" ng-if="hasBlogs" ng-repeat="blog in blogList.item" class="article--lrg position--rel article__featured__image" ng-style="{ 'background-image': blog.featured ? 'url(' + baseHref + blog.featured + ')' : 'url(assets/img/picture.jpg)' }">
        <div class="article__content--lrg position--abs">
            <span class="article__date__readingtime article__date__readingtime--primary">{{ blog.publishDate | date : 'medium' }} | {{ blog.readingTime.text }}</span>
            <h2 class="spc--top--sml">
                 <a class="article__title article__title--primary" ui-sref="master.blog-detail({ slug: blog.slug })">{{ blog.title }}</a>
            </h2>
            <p class="article__summary__text article__summary__text--primary">{{ blog.excerpt }}</p>
            <div class="article__readmore pull spc--top--sml">
                <a ng-if="$root.user.isAuthenticated" ui-sref="master.blog-edit({ slug: blog.slug })" class="btn btn--secondary btn--med">Edit</a>
                <a ui-sref="master.blog-detail({ slug: blog.slug })" class="btn btn--primary__invert btn--med">Read more</a>
            </div>
        </div>
    </article>
    <article ng-if="!$first" ng-if="hasBlogs" ng-repeat="blog in blogList.item" class="article--sml position--rel">
        <img class="article--sml--image" ng-src="{{baseHref+blog.featured}}" alt="Post Photo"/>
        <div class="article__content--sml">
            <span class="article__date__readingtime article__date__readingtime--secondary">{{ blog.publishDate | date : 'medium' }} | {{ blog.readingTime.text }}</span>
            <h2 class="spc--top--sml">
                <a class="article__title" ui-sref="master.blog-detail({ slug: blog.slug })">{{ blog.title }}</a>
            </h2>
            <p class="article__summary__text">{{ blog.excerpt }}</p>
        </div>
        <div class="article__readmore position--abs">
            <hr />
            <a ui-sref="master.blog-detail({ slug: blog.slug })" class="btn btn--primary btn--med push">Read more</a>
            <a ng-if="$root.user.isAuthenticated" ui-sref="master.blog-edit({ slug: blog.slug })" class="btn btn--secondary btn--med push">Edit</a>
        </div>
    </article>

    <article ng-if="!hasBlogs">
        <p>No blog posts added.</p>
    </article>
    <pager pager-data="pagerData" ng-show="pager.hasPrevious || pager.hasNext" class="pager">
        <hr>
        <a ui-sref="master.main.index({ page: pager.currentPage - 1 })" class="btn btn--pager btn--pager--left pull" ng-show="pager.hasPrevious">Prev</a>
        <a ui-sref="master.main.index({ page: pager.currentPage + 1 })" class="btn btn--pager btn--pager--right push" ng-show="pager.hasNext">Next</a>
    </pager>
</div>