<article class="post" ng-hide="isEdit">
    <header class="post__header" ng-style="{ 'background-image': blog.featured ? 'url(' + blog.featured + ')' : 'none' }">
        <div class="post__bg__overlay"></div>
        <div class="post__header__container">
            <h1 class="post__title">{{ blog.title }}</h1>
            <p class="post__time">{{ blog.dateUpdated | date : 'medium' }} | {{ blog.readingTime.text }}</p>
            <span class="post__header__overlay"></span>
        </div>
    </header>
    <div class="post__body">
        <div btf-markdown="blog.content" class="styledtext">
        </div>
        <ul class="post__tags tags group">
            <li ng-repeat="tag in blog.tags" class="tags__item">
                <a class="tags__link tags__link--secondary" ui-sref="master.main.blog-search({ tags: tag.slug })">{{ tag.tag }}</a>
            </li>
        </ul>
        <baasic-profile author-id="authorId"></baasic-profile>
        <hr>
        <span ng-hide="isEdit">
            <span ng-if="$root.user.isAuthenticated" class="push">
                <button type="button" class="btn btn--secondary btn--med" ng-click="editBlog()">Edit</button>
                <button type="button" class="btn btn--tertiary btn--med" ng-click="deleteBlog()">Delete</button>
            </span>
        </span>
        <button type="button" class="btn btn--primary spc--none btn--med" href="javascript:void(0);" ui-sref="master.main.index" rel="home">Back</button>
        <div class="spc--top--med">
            <blog-comments article-id='blog.id' blog='blog' ng-if="!blog.hideComments"></blog-comments>
        </div>
    </div>
</article>


<baasic-blog-edit ng-show="isEdit" blog="blog" on-save="blogSaved()" on-cancel="cancelEdit()">
</baasic-blog-edit>
